@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

.cart {
	max-width: rem(1280);
	border-radius: 1.5rem;
	background: #fff;
	text-align: left;
	padding: rem(28) 1rem;
	&.open-payment {
		width: 100%;
		background: #f6f7f8;
	}
	@media (min-width: $md4) {
		padding: 2rem;
	}
	// .cart__title
	&__title {
		font-family: $font-comfortaa;
		font-weight: 700;
		line-height: 120%;
		font-size: 1.5rem;
		letter-spacing: -0.045rem;
		@media (min-width: $md4) {
			letter-spacing: -0.07875rem;
			font-size: 2.625rem;
		}
	}
	&__empty {
		margin-top: 1rem;
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
	}
	// .cart__body
	&__body {
		margin-top: 1.5rem;
		@media (min-width: $md4) {
			margin-top: 2rem;
		}
	}
	// .cart__form
	&__form {
		display: flex;
		gap: rem(52);
		flex-direction: column;
		@media (min-width: $md2) {
			flex-direction: row;
			align-items: flex-start;
		}
	}
	// .cart__main
	&__main {
		flex: 1 1 auto;
	}

	// .cart__side
	&__side {
		display: flex;
		flex-direction: column;
		@media (min-width: $md2) {
			position: sticky;
			top: 1rem;
			flex-shrink: 0;
			width: 24rem;
		}
	}
	// .cart__side-main
	&__side-main {
		border: rem(1) solid #c2a78f;
		display: flex;
		flex-direction: column;
		padding: 1.5rem 1.75rem 1.75rem 1.75rem;
		gap: 1.5rem;
	}
	// .cart__side-header
	&__side-header {
		padding: 0.75rem 0;
		border-bottom: rem(1) solid #d5d7da;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
	// .cart__warning
	&__warning {
		margin-top: 1rem;
		background: #fffaeb;
		padding: rem(8) rem(16);
		display: flex;
		align-items: center;
		gap: 0.75rem;
		color: #ff4405;
		font-size: 0.875rem;
		line-height: 128.571%;
	}
	// .cart__warning-icon
	&__warning-icon {
		flex-shrink: 0;
		width: 1.5rem;
		height: 1.5rem;
	}
	// .cart__warning-text
	&__warning-text {
	}
	// .cart__caption
	&__caption {
		font-family: $font-comfortaa;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 120%;
		letter-spacing: -0.045rem;
	}
	// .cart__quantity
	&__quantity {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .cart__text
	&__text {
		color: #535862;
		font-size: 1rem;
		line-height: 150%;
	}
	// .cart__value
	&__value {
		text-align: right;
		color: #181d27;
		font-size: 1rem;
		line-height: 150%;
	}
	// .cart__details
	&__details {
		display: flex;
		padding: 0.75rem 0;
		flex-direction: column;
		gap: 0.5rem;
		border-bottom: rem(1) solid #d5d7da;
	}
	// .cart__row
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	// .cart__total
	&__total {
		padding: 0.75rem 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .cart__total-value
	&__total-value {
		color: #181d27;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 133.333%;
	}

	// .cart__products
	&__products {
	}
	// .cart__products-header
	&__products-header {
		display: flex;
		align-items: center;
		gap: 1.5rem;
		justify-content: space-between;
		padding-bottom: rem(11);
		border-bottom: 0.25rem solid #f5f5f5;
		@media (min-width: $md4) {
			padding-inline: 0.75rem;
			padding-bottom: 0;
			border-bottom: 0;
			justify-content: flex-start;
		}
	}
	// .cart__select-all
	&__select-all {
		.checkbox__text {
			font-size: 1.125rem;
			line-height: 133.333%;
		}
	}
	// .cart__clear
	&__clear {
		color: #f04438;
		font-size: 1.125rem;
		line-height: 133.333%;
	}
	// .cart__table
	&__table {
		margin-top: 0.75rem;
	}
	// .cart__table-caption
	&__table-caption {
		display: none;
		@media (min-width: $md4) {
			display: grid;
			grid-template-columns: 2.5fr 1fr 1fr;
			gap: 1rem;
			padding: 0.5625rem 0.75rem;
			gap: 0.625rem;
			background: #f5f5f5;
			font-size: 1.125rem;
			line-height: 133.333%;
		}
	}
	// .cart__table-block
	&__table-block {
		&:not(:first-child) {
			text-align: center;
		}
	}
	// .cart__table-items
	&__table-items {
		margin-top: 0.75rem;
		display: flex;
		flex-direction: column;
	}
	// .cart__item
	&__item {
		padding: 0.75rem 0;
		display: flex;
		flex-wrap: wrap;
		position: relative;
		row-gap: 0.75rem;
		border-bottom: rem(1) solid #e9eaeb;
		@media (min-width: $md4) {
			padding: 0.75rem;
			display: grid;
			grid-template-columns: 2.5fr 1fr 1fr;
			gap: 1rem;
		}
	}
	// .cart__item-block
	&__item-block {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		&--quantity {
			@media (min-width: $md4) {
				justify-content: center;
				.quantity-block {
					margin: auto;
				}
			}
			@media (max-width: $md4) {
				flex: 0 0 50%;
			}
		}
		&--details {
			column-gap: 0.5rem;
			row-gap: 0.75rem;
			@media (max-width: $md4) {
				flex-wrap: wrap;
				flex: 0 0 100%;
				padding-right: 1.5rem;
			}
		}
		&--price {
			@media (max-width: $md4) {
				flex: 0 0 50%;
			}
		}
	}
	// .cart__item-checkbox
	&__item-checkbox {
		align-self: flex-start;
		flex: 0 0 1.25rem;
		&.checkbox {
			.checkbox__text {
				padding-left: 1.25rem;
			}
		}
	}
	// .cart__item-thumb
	&__item-thumb {
		width: 6.25rem;
		height: 6.25rem;
		flex-shrink: 0;
	}
	// .cart__item-info
	&__item-info {
		display: contents;
		@media (min-width: $md4) {
			align-self: flex-start;
			display: block;
		}
	}
	// .cart__item-sku
	&__item-sku {
		color: #1570ef;
		font-size: 0.875rem;
		line-height: 157.143%;
		flex: 1 1 auto;
		align-self: flex-start;
	}
	// .cart__item-name
	&__item-name {
		flex: 0 0 100%;
		color: #423931;
		font-family: $font-comfortaa;
		font-weight: 700;
		line-height: 120%;
		font-size: 1rem;
		letter-spacing: -0.03rem;
		@media (min-width: $md4) {
			font-size: 1.125rem;
			margin-top: 0.63rem;
			letter-spacing: -0.03375rem;
		}
	}
	// .cart__item-price
	&__item-price {
		margin-left: auto;
	}
	// .cart__item-remove
	&__item-remove {
		flex-shrink: 0;
		color: #a4a7ae;
		transition: color 0.3s ease;
		margin-left: 0.5rem;
		width: 2rem;
		height: 2rem;
		font-size: 2rem;
		@media (max-width: $md4) {
			position: absolute;
			top: 0.75rem;
			right: 0;
			width: 1.5rem;
			height: 1.5rem;
			font-size: 1.5rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #d92d20;
			}
		}
	}
	// .cart__payment-widget
	&__payment-widget {
		min-height: rem(500);
		width: 100%;
	}
}

.order {
	margin-top: 2rem;
	// .order__step
	&__step {
		&:not(:last-child) {
			margin-bottom: rem(42);
		}
	}
	// .order__caption
	&__caption {
		font-size: 1.25rem;
		font-weight: 700;
		line-height: 150%;
		margin-bottom: 1.5rem;
	}
	// .order__fields
	&__fields {
		display: grid;
		gap: 0.75rem;
		@media (min-width: $md5) {
			grid-template-columns: repeat(12, 1fr);
		}
	}
	// .order__field
	&__field {
		@media (min-width: $md5) {
			grid-column: span 6;
			&--large {
				grid-column: span 12;
			}
			&--small {
				grid-column: span 4;
			}
			&--medium {
				grid-column: span 8;
			}
		}
	}
	// .order__step-options
	&__step-options {
		display: grid;
		gap: rem(12);
		@media (min-width: $md5) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .order__step-option
	&__step-option {
	}

	// .order__step-input
	&__step-input {
		&:checked {
			& + .order__card {
				border: rem(1) solid #66584d;
				background: #fdfbf6;
				.order__card-header {
					&::before {
						border-color: #8e7558;
						box-shadow: inset 0 0 0 0.2rem #fdfbf6;
						background: #8e7558;
					}
				}
			}
		}
	}
	// .order__card
	&__card {
		border-radius: 1rem;
		border: rem(1) solid #d5d7da;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		min-height: 100%;
		cursor: pointer;
		transition: border-color 0.3s ease;
		gap: 0.5rem;
		@media (min-width: $md4) {
			gap: 0.88rem;
		}
	}
	// .order__card-header
	&__card-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.5rem;
		&::before {
			content: "";
			flex-shrink: 0;
			width: 1rem;
			height: 1rem;
			border-radius: 50%;
			border: rem(1) solid #d5d7da;
		}
	}
	// .order__step-header-title
	&__step-header-title {
		font-size: 1.125rem;
		font-weight: 700;
		line-height: 144.444%;
		letter-spacing: 0.0225rem;
		flex: 1 1 auto;
	}
	// .order__card-body
	&__card-body {
		color: #535862;
		font-size: 0.875rem;
		line-height: 142.857%;
		@media (min-width: $md4) {
			line-height: 157.143%;
		}
		& a {
			color: #1570ef;
			text-decoration: underline;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
		& strong {
			color: #181d27;
			font-weight: 600;
		}
	}
	// .order__card-info
	&__card-info {
		margin-top: auto;
		align-self: flex-start;
		color: #181d27;
		border-radius: 0.375rem;
		background: #e9eaeb;
		font-size: 1rem;
		line-height: 150%;
		padding: 0.125rem 0.375rem;
		&.green {
			border-radius: 0.375rem;
			background: #17b26a;
			color: #fff;
		}
	}
	// .order__step-logo
	&__step-logo {
		width: 2rem;
		height: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: auto;
		border-radius: 0.5rem;
		overflow: hidden;
		& img {
			height: 100%;
			width: auto;
		}
	}
}
