@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

.fancybox__container {
	max-width: 100% !important;
	padding: 0 !important;
}

.fancybox__slide {
	padding: 0;
	@media (min-width: $md4) {
		padding: 1.25rem;
	}
}

.fancybox__backdrop {
	background: rgba(0, 0, 0, 0.65);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

.fancybox__content {
	color: inherit;
	background: none;
	padding: 0;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
	outline: none;
}

.f-button.is-close-button {
	top: 1rem;
	right: 1rem;
	--f-close-button-width: #{rem(36)};
	--f-close-button-height: #{rem(36)};
	--f-close-button-svg-stroke-width: #{rem(3)};
	--f-close-button-svg-width: #{rem(25)};
	--f-close-button-svg-height: #{rem(25)};
	--f-close-button-color: #{rgba(#fff, 0.7)};
	--f-close-button-hover-color: #fff;
}

.popup {
	display: none;
	text-align: center;
	flex-direction: column;
	border-radius: 1.5rem;
	background-color: #000;
	color: #a4a7ae;
	padding: rem(24) rem(16);
	max-width: 100%;
	@media (min-width: $md5) {
		max-width: 36.25rem;
		padding: 2rem 2rem 2.625rem 2rem;
	}
	&.popup--background-decor {
		background-image: url("@img/pattern.svg");
		background-repeat: repeat;
		background-position: 0 0;
		background-size: contain;
	}
	&.popup--white {
		background: #fff;
		color: #414651;
		.f-button.is-close-button {
			--f-close-button-color: #{rgba(#717680, 0.7)};
			--f-close-button-hover-color: #717680;
		}
	}
	&.popup--large {
		max-width: 100%;
		@media (min-width: $md4) {
			max-width: 46.875rem;
		}
		.f-button.is-close-button {
			top: 1.5rem;
			right: 1.5rem;
		}
		&.cart {
			max-width: 100%;
			@media (min-width: $md2) {
				max-width: rem(1280);
			}
		}
	}
	&
	// .popup__logo
	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom: rem(1) solid #414651;
		padding-bottom: rem(18);
		@media (min-width: $md5) {
			padding-bottom: rem(30);
		}
		& img {
			max-width: rem(116);
			@media (min-width: $md5) {
				max-width: rem(138);
			}
		}
	}
	// .popup__icon
	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		& img {
			width: 100%;
			max-width: 7.5rem;
			@media (min-width: $md5) {
				max-width: 10rem;
			}
		}
	}
	// .popup__btn
	&__btn {
		margin-top: 1.5rem;
		@media (min-width: $md5) {
			margin-top: 2.62rem;
		}
		&[data-fancybox-close] {
			align-self: center;
		}
	}
	// .popup__title
	&__title {
		margin-top: rem(18);
		@media (min-width: $md5) {
			margin-top: rem(30);
		}
	}
	// .popup__subtitle
	&__subtitle {
		line-height: 140%;
		font-size: 0.875rem;
		margin-top: rem(8);
		@media (min-width: $md5) {
			margin-top: 1.25rem;
			font-size: 1rem;
		}
	}
	// .popup__form
	&__form {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		margin-top: rem(18);
		@media (min-width: $md5) {
			margin-top: rem(30);
		}
	}
	// .popup__form-field
	&__form-field {
	}
	// .popup__form-footer
	&__form-footer {
		display: flex;
		flex-direction: column;
		gap: rem(18);
		margin-top: rem(24);
		@media (min-width: $md5) {
			margin-top: rem(34);
		}
	}

	&__nav {
		&.swiper {
			align-self: flex-start;
			margin-left: 0;
			margin-bottom: 1.5rem;
			max-width: calc(100% - 3rem);
			.switcher__input {
				&:checked {
					& ~ .switcher__btn {
						background: #efcb92;
						border-radius: 0.5rem;
					}
				}
			}
		}
	}
}
