.dropdown {
	position: relative;
	width: 100%;
	&.visible {
		.dropdown__body {
			opacity: 1;
			visibility: visible;
		}
		.dropdown__button {
			&::before {
				transform: rotate(-180deg);
			}
		}
	}
	font-size: rem(13);
	font-weight: 500;
	line-height: 140%;
	&.dropdown-top {
		.dropdown__body {
			top: auto;
			bottom: calc(100% + 0.25rem);
		}
	}
	// .dropdown__button
	&__button {
		position: relative;
		cursor: pointer;
		transition: all 0.3s ease 0s;
		width: 100%;
		border-radius: 0.375rem;
		background: #fff;
		border: rem(1) solid #fff;
		color: #737373;
		padding: 0.85rem 0.5rem 0.85rem 0.63rem;

		gap: rem(7);
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 1;
		font-size: 1rem;
		@media (min-width: $md2) {
			font-size: 1.125rem;
		}
		&.selected {
			color: #232c32;
		}
		&::before {
			transition: transform 0.3s ease 0s;
			order: 1;
			width: em(1, 1.125);
			height: em(1, 1.125);
			font-size: em(0.5, 1.125);
			color: #737373;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&:not(.active) {
			&:hover {
				border-color: $accent;
			}
		}
		&.active {
			&::before {
				transform: rotate(-180deg);
			}
		}
		&:disabled {
			opacity: 0.45;
			pointer-events: none;
			user-select: none;
		}
	}
	// // .dropdown__button-column
	// &__button-column {
	// 	display: flex;
	// 	flex-direction: column;
	// 	align-items: flex-start;
	// }
	// // .dropdown__button-caption
	// &__button-caption {
	// 	color: #727f8c;
	// 	font-size: rem(12);
	// 	font-weight: 600;
	// 	line-height: 145%;
	// }
	// .dropdown__button-text
	&__button-text {
		text-align: left;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		text-overflow: ellipsis;
		overflow: hidden;
		hyphens: auto;
	}
	// &__button-icon {
	// 	width: 1rem;
	// 	height: 1rem;
	// 	font-size: 1rem;
	// 	display: flex;
	// 	justify-content: center;
	// 	align-items: center;
	// 	flex-shrink: 0;
	// }
	&__body {
		position: absolute;
		right: 0;
		top: calc(100% + 0.25rem);
		width: 100%;
		z-index: 4;
		padding: rem(10);
		border-radius: 0.375rem;
		transition: 0.2s ease;
		background: #fff;
		color: #393939;
		opacity: 0;
		visibility: hidden;
		&.visible {
			opacity: 1;
			visibility: visible;
		}
	}
	&__list {
		max-height: rem(280);
		overflow-x: hidden;
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: rem(5);
		}
		&.has-scroll {
			padding-right: rem(10);
		}
		&::-webkit-scrollbar-track {
			background: #e0eaf3;
			border-radius: rem(5);
		}
		&::-webkit-scrollbar-thumb {
			background: #81a6ca;
			border-radius: rem(5);
			@media (any-hover: hover) {
				&:hover {
					background: #2d87ff;
				}
			}
		}
	}
	&__list-item {
		cursor: pointer !important;
		white-space: nowrap;
		transition: color 0.3s ease 0s;
		&:not(.active) {
			@media (any-hover: hover) {
				&:hover {
					color: $red;
				}
			}
		}

		&.sort {
			display: block;
		}
		&.active,
		&[aria-checked="true"] {
			color: $red;
		}

		&[aria-disabled="true"] {
			opacity: 0.5;
			pointer-events: none;
			display: none;
		}
		&:not(:last-child) {
			margin-bottom: 0.125rem;
		}
	}
}
