@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

[data-tooltip-content] {
	position: relative;
}

.tooltip {
	position: absolute;
	border-radius: 0.5rem;
	padding: 0.75rem;
	background: #fff;
	color: #181d27;
	filter: drop-shadow(0 12px 16px rgba(10, 13, 18, 0.08)) drop-shadow(0 4px 6px rgba(10, 13, 18, 0.03)) drop-shadow(0 2px 2px rgba(10, 13, 18, 0.04));
	z-index: 100000000;
	font-size: 0.75rem;
	line-height: 1.5;
	max-width: 20rem;
	width: 100%;
	pointer-events: none;
	user-select: none;
	text-align: left;
	&.tooltip-copy {
		max-width: 15rem;
		width: fit-content;
		text-align: center;
		padding: 0.5rem 0.75rem;
	}

	& strong {
		color: #ff4405;
		font-size: 0.875rem;
		font-weight: 600;
		margin-bottom: 0.5rem;
	}

	@media (min-width: $md5) {
		&.open-top {
			&::after {
				border-top: rem(8) solid #fff;
				bottom: rem(-8);
			}
		}
		&.open-bottom {
			&::after {
				border-bottom: rem(8) solid #fff;
				top: rem(-4);
			}
		}

		&::after {
			content: "";
			position: absolute;
			width: rem(12);
			height: rem(12);
			border-radius: rem(1);
			background: #fff;
			left: calc(50% - rem(6));
			rotate: 135deg;
			transform: translateX(-50%);
		}
	}
}
