@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

.description {
	& + .clients.clients--marquee {
		padding-top: 0;
	}
	// .description__content
	&__content {
		display: grid;
		align-items: start;
		gap: 1rem;
		row-gap: 2rem;
		padding-top: 2.4rem;
		@media (min-width: $md3) {
			padding-top: 4rem;
			grid-template-columns: 1fr 2fr;
		}
	}
	// .description__title
	&__title {
		@media (min-width: $md3) {
			margin-top: 0.875rem;
		}
	}
	// .description__text
	&__text {
		&.typography-block {
			font-size: 1rem;
			line-height: 150%;
			letter-spacing: em(0.4, 16);
			@media (min-width: $md3) {
				letter-spacing: em(0.4, 22);
				font-size: 1.375rem;
				line-height: 127.273%;
			}
		}
	}
}

.founder {
	// .founder__wrapper
	&__wrapper {
		border-top: rem(1) solid #d5d7da;
		@media (min-width: $md3) {
			border-bottom: rem(1) solid #d5d7da;
		}
	}
	// .founder__content
	&__content {
		display: flex;
		flex-direction: column;
		gap: 2.25rem;
		@media (min-width: $md3) {
			gap: 0;
			flex-direction: row;
		}
	}
	// .founder__main
	&__main {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 2.25rem;
		padding: 2rem 0;
		@media (max-width: $md3) {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 100vw;
				height: 100%;
				background: url("@img/founder-bg.png") center 100% / 100% auto no-repeat;
				border-bottom: rem(1) solid #d5d7da;
				z-index: -1;
			}
		}
		@media (min-width: $md3) {
			background: url("@img/founder-bg.png") 100% 100% / 80% auto no-repeat;
			padding: rem(32) rem(32) rem(32) 0;
		}
		@media (min-width: $md1) {
			padding: rem(42) rem(66) rem(32) 0;
		}
	}
	// .founder__blockquote
	&__blockquote {
		font-style: italic;
		max-width: rem(830);
		position: relative;
		padding-bottom: em(5.75, 1.375);
		font-size: 1.125rem;
		line-height: 144.44%;
		@media (min-width: $md3) {
			line-height: 127.273%;
		}
		@media (min-width: $md2) {
			font-size: 1.375rem;
		}
		& p {
			&:not(:last-child) {
				margin-bottom: 1rem;
			}
		}
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 4.3125rem;
			height: 3.1875rem;
			@media (min-width: $md3) {
				width: em(4.3125, 1.375);
				height: em(3.1875, 1.375);
			}
			background: url("@img/quotes.svg") center / contain no-repeat;
		}
	}
	// .founder__person
	&__person {
	}
	// .founder__person-name
	&__person-name {
		font-family: $font-gilroy;
		font-weight: 600;
		font-size: 1.5rem;
		@media (min-width: $md2) {
			font-size: 2.625rem;
		}
	}
	// .founder__person-position
	&__person-position {
		margin-top: 0.25rem;
		color: #717680;
		line-height: 144.444%;
		max-width: 21.875rem;
		font-size: 0.875rem;
		@media (min-width: $md4) {
			font-size: 1.125rem;
		}
	}
	// .founder__image
	&__image {
		@media (min-width: $md3) {
			border-left: rem(1) solid #d5d7da;
			flex: 0 0 41.66667%;
			padding: rem(32) 0 rem(32) rem(32);
			display: flex;
			justify-content: center;
			align-items: center;
		}
		@media (min-width: $md1) {
			padding: rem(38) 0 rem(32) rem(70);
		}
	}
	// .founder__image-block
	&__image-block {
		position: relative;
		width: 100%;
		aspect-ratio: 1 / 1;
		filter: drop-shadow(rem(8) rem(-8) 0 #ff4405);
		& img {
			clip-path: url(#founder-mask);
			-webkit-clip-path: url(#founder-mask);
		}
	}
}

.numbers {
	// .numbers__header
	&__header {
		display: flex;
		flex-direction: column;
		max-width: 46.75rem;
		align-items: center;
		text-align: center;
		margin: 0 auto;
		gap: 0.625rem;
		@media (min-width: $md4) {
			gap: 1rem;
		}
	}
	// .numbers__hint
	&__hint {
	}
	// .numbers__title
	&__title {
	}
	// .numbers__slider
	&__slider {
		margin-top: 1.5rem;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: rem(-1);
			bottom: rem(-1);
			left: 0;
			width: 100%;
			pointer-events: none;
			z-index: 2;
			background:
				url("@img/numbers-slider-decor-1.svg") center rem(-1) / 100% auto no-repeat,
				url("@img/numbers-slider-decor-2.svg") center calc(100% + rem(1)) / 100% auto no-repeat;
		}
		.swiper-wrapper {
			transition-timing-function: linear !important;
		}
	}
	// .numbers__slide
	&__slide {
		height: auto;
	}
	// .numbers__bottom
	&__bottom {
		margin-top: 2rem;
	}
	// .numbers__row
	&__row {
		max-width: rem(1396);
		margin: 0 auto;
		@media (max-width: $md2) {
			display: grid;
			gap: 1rem;
			@media (min-width: $md4) {
				grid-template-columns: repeat(2, 1fr);
			}
		}
		@media (min-width: $md2) {
			columns: 4;
			column-rule: rem(1) solid #d5d7da;
			column-gap: rem(32);
		}
		@media (min-width: $md1) {
			column-gap: rem(65);
		}
	}
	// .numbers__column
	&__column {
		break-inside: avoid;
		@media (max-width: $md2) {
			padding-bottom: 1rem;
			border-bottom: rem(1) solid #d5d7da;
		}
		@media (max-width: $md4) {
			&:last-child {
				border-bottom: 0;
				padding-bottom: 0;
			}
		}
	}
	// .numbers__column-caption
	&__column-caption {
		font-family: $font-gilroy;
		display: flex;
		align-items: flex-start;
		gap: rem(9);
	}
	// .numbers__column-value
	&__column-value {
		color: #ff4405;
		font-size: 3rem;
		font-weight: 700;
		white-space: nowrap;
		font-variant-numeric: tabular-nums;
	}
	// .numbers__column-unit
	&__column-unit {
		padding-top: 0.25rem;
		font-size: 1.125rem;
	}
	// .numbers__column-desc
	&__column-desc {
		margin-top: rem(5);
		font-size: 1.125rem;
	}
}
