@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

.description {
	& + .clients.clients--marquee {
		padding-top: 0;
	}
	// .description__content
	&__content {
		display: grid;
		align-items: start;
		gap: 1rem;
		row-gap: 2rem;
		padding-top: 2.4rem;
		@media (min-width: $md3) {
			padding-top: 4rem;
			grid-template-columns: 1fr 2fr;
		}
	}
	// .description__title
	&__title {
		@media (min-width: $md3) {
			margin-top: 0.875rem;
		}
	}
	// .description__text
	&__text {
		&.typography-block {
			font-size: 1rem;
			line-height: 150%;
			letter-spacing: em(0.4, 16);
			@media (min-width: $md3) {
				letter-spacing: em(0.4, 22);
				font-size: 1.375rem;
				line-height: 127.273%;
			}
		}
	}
}
