@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

.typography-block {
	font-size: 1.125rem;
	line-height: 1.55;

	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $font-gilroy;
		font-weight: 600;

		@media screen and (max-width: $md4) {
			line-height: 1.5;
		}
	}

	h2 {
		margin: 6.4rem 0 2rem;
		font-size: 3rem;
		line-height: 1.25;

		@media screen and (max-width: $md4) {
			margin-top: 3.2rem;
			font-size: 2rem;
		}

		&:first-child {
			margin-top: 0;
			margin-bottom: 2.4rem;
			font-size: 3.6rem;

			font-weight: 500;
			line-height: 1.25;

			@media screen and (max-width: $md4) {
				font-size: 2.4rem;
				margin-bottom: 1em;
			}
		}
	}

	h1 {
		margin-top: 0;
		margin-bottom: 2.4rem;
		font-size: 3.6rem;
		font-family: $font-gilroy;
		font-weight: 500;
		line-height: 1.25;

		@media screen and (max-width: $md4) {
			font-size: 2.4rem;
			margin-bottom: 1em;
		}
	}

	h3 {
		font-size: 2.4rem;
		margin: 3.2rem 0 1.6rem;

		@media screen and (max-width: $md4) {
			font-size: 1.6rem;

			.content h2 + & {
				margin-top: 2rem;
			}
		}

		&:first-child {
			margin-top: 0;
		}
	}

	h4 {
		font-size: 1.8rem;
		line-height: 1.45;

		@media screen and (max-width: $md4) {
			font-size: 1.6rem;
			line-height: 1.5;
		}
	}

	p {
		a {
			color: $accent;
		}
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}

	ul,
	ol {
		margin: 0 0 1.5em;

		@media screen and (max-width: $md4) {
			margin-bottom: 1.2em;
		}

		&:last-child {
			margin-bottom: 0;
		}

		li {
			position: relative;
			padding-left: 2.2rem;

			&::before {
				content: "";
				display: block;
				position: absolute;
				left: 0.3em;
			}
		}
	}

	ul li::before {
		width: 4px;
		height: 4px;
		top: 0.7em;
		background: currentColor;
		border-radius: 50%;
	}

	ol {
		counter-reset: i;

		li::before {
			counter-increment: i;
			content: counter(i) ".";
			top: 0;
		}
	}

	.subtxt {
		font-size: 2.2rem;
		font-weight: 600;
		color: $accent;

		a {
			text-decoration: underline;
			color: inherit;

			&:hover {
				text-decoration: none;
			}
		}

		@media screen and (max-width: $md4) {
			font-size: 1.6rem;
		}
	}

	.fz-24 {
		@media screen and (max-width: $md4) {
			font-size: 1.8rem;
			line-height: 1.45;
		}
	}
	a {
		color: $accent;

		@media screen and (min-width: $md2) {
			&:hover {
				color: $accent;
			}
		}
	}
}
