@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

.article {
	padding-top: rem(48);
	padding-bottom: rem(25);

	@media (min-width: $md2) {
		padding-top: rem(80);
		padding-bottom: rem(49);
	}

	// .article__breadcrumbs
	&__breadcrumbs {
		margin-top: 1.5rem;

		@media (min-width: $md5) {
			background: #f5f5f5;
			padding: 0.875rem 1.5rem;
		}
	}

	// .article__main
	&__main {
		margin-top: 1.5rem;
		display: grid;
		align-items: start;
		gap: 1.5rem;

		&[class*="__container"] {
			max-width: rem(1854);
		}

		@media (min-width: $md3) {
			margin-top: 2.5rem;
			grid-template-columns: 1fr rem(280);
		}

		@media (min-width: $md2) {
			grid-template-columns: 1fr rem(364);
		}

		@media (min-width: $md0) {
			gap: 4rem;
			grid-template-columns: rem(364) 1fr rem(364);
		}
	}

	// .article__back
	&__back {
		display: flex;
		align-items: center;
		grid-column: span 2;
		margin: 0 auto 0 0;

		@media (max-width: $md3) {
			display: none;
		}

		@media (min-width: $md0) {
			grid-column: auto;
		}
	}

	// .article__content
	&__content {
		min-width: 0;
		max-width: 100%;
	}

	// .article__nav-btn
	&__nav-btn {
		width: 100%;
		order: -1;

		@media (min-width: $md3) {
			display: none;
		}
	}

	// .article__header
	&__header {}

	// .article__header-photo
	&__header-photo {
		margin-top: 2rem;

		& img {
			min-height: rem(250);
			width: 100%;
			height: auto;
			object-fit: cover;
		}
	}

	// .article__info
	&__info {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
		gap: 1.5rem;
		row-gap: rem(12);
	}

	// .article__label
	&__label {
		@media (max-width: $md4) {
			.article__header & {
				font-size: 1rem;
			}
		}
	}

	// .article__stats
	&__stats {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.75rem;
	}

	// .article__stat
	&__stat {
		display: flex;
		align-items: center;
		gap: 0.25rem;
		font-size: 1rem;
		line-height: 125%;

		&::before {
			color: $accent;
			font-size: 1.25rem;
		}
	}

	// .article__title
	&__title {
		margin-top: rem(18);
	}

	// .article__author
	&__author {
		margin-top: 1.5rem;
		display: flex;
		align-items: center;
		gap: 1rem;
		justify-content: flex-start;
	}

	// .article__author-thumb
	&__author-thumb {
		width: 3.5rem;
		height: 3.5rem;
		flex-shrink: 0;

		& img {
			border: rem(1) solid rgba($color: #181d27, $alpha: 0.08);
			border-radius: 50%;
		}

		&.verified {
			position: relative;

			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				right: 0;
				width: 1.125rem;
				height: 1.125rem;
				background: url("@img/verified-tick.svg") center / contain no-repeat;
			}
		}
	}

	// .article__author-body
	&__author-body {}

	// .article__author-name
	&__author-name {
		font-weight: 600;
		line-height: 145.455%;
		font-size: rem(18);

		@media (min-width: $md4) {
			font-size: 1.375rem;
		}
	}

	// .article__author-info
	&__author-info {
		color: #535862;
		line-height: 157.143%;
		font-size: rem(12);

		@media (min-width: $md4) {
			font-size: 0.875rem;
		}
	}

	// .article__sidebar
	&__sidebar {
		order: -1;

		@media (max-width: $md3) {
			display: none;
			flex-direction: column;
		}

		.sidebar__list {
			padding: 0;
		}

		@media (min-width: $md3) {
			margin-top: 1.5rem;
			order: 0;
		}

		.sidebar__list {
			padding: 0.5rem;
		}

		.sidebar__link {
			padding: 0.375rem 0.5rem;
			font-size: 1rem;
		}
	}

	// .article__sidebar-header
	&__sidebar-header {
		padding: rem(12) rem(12) rem(4);

		@media (min-width: $md3) {
			display: none;
		}
	}

	// .article__more
	&__more {
		margin-top: 1.5rem;
		display: flex;
		align-items: center;
		width: fit-content;
		flex-wrap: wrap;
		gap: 0.75rem;
		border-radius: 0.625rem;
		border: rem(1) solid #d0d5dd;
		background: #fff;
		box-shadow: 0 rem(1) rem(2) 0 rgba(16, 24, 40, 0.05);
		transition: background-color 0.3s ease;
		padding: 0.5rem;

		@media (min-width: $md4) {
			padding: 0.25rem 0.625rem 0.25rem 0.25rem;
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: rgba(16, 24, 40, 0.05);
			}
		}
	}

	// .article__more-label
	&__more-label {
		color: #181d27;
		font-size: 1rem;
		line-height: 150%;
		padding: 0.125rem 0.5rem;
		border-radius: 0.5rem;
		border: rem(1) solid #eaecf0;
		background: #f9fafb;
	}

	// .article__more-name
	&__more-name {
		display: flex;
		align-items: center;
		color: #1570ef;
		font-size: 1rem;
		line-height: 150%;
		gap: 0.25rem;

		&::before {
			order: 1;
			color: #667085;
			font-size: 0.75rem;
			width: 1rem;
			height: 1rem;
			flex-shrink: 0;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	// .article__columns
	&__columns {
		display: grid;
		gap: 0.75rem;

		@media (min-width: $md4) {
			grid-template-columns: 1.2fr 2fr;

			&:not(:first-child) {
				margin-top: 3rem;
			}

			&:not(:last-child) {
				margin-bottom: 2rem;
			}
		}

		& figure {
			margin: 0 !important;

			@media (min-width: $md4) {
				&:nth-child(odd) {
					text-align: left;
				}

				&:nth-child(even) {
					text-align: right;
				}
			}
		}
	}

	// .article__benefits
	&__benefits {
		&:not(:first-child) {
			margin-top: 3rem;
		}

		&:not(:last-child) {
			margin-bottom: 3rem;
		}

		display: flex;
		flex-direction: column;
		gap: 0.38rem;
		list-style: none !important;
		padding: 0 !important;

		&+h3 {
			&:not(:first-child) {
				margin-top: 5rem !important;
			}
		}

		&--grid {
			display: grid;

			@media (min-width: $md5) {
				grid-template-columns: repeat(2, 1fr);
			}

			@media (min-width: $md4) {
				grid-template-columns: repeat(3, 1fr);
			}

			.article__benefits-item {
				background: #ff7dbc;
				flex-direction: column;
				align-items: flex-start;
			}

			.article__benefits-icon {
				width: 5rem;
				height: 5rem;
			}
		}
	}

	// .article__benefits-item
	&__benefits-item {
		border-radius: 0.75rem;
		color: #181d27;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		background: $accent;
		padding: 0.75rem 1rem;

		@media (min-width: $md4) {
			padding: 0.75rem 1.375rem;
			background: #f5f5f5;
		}
	}

	// .article__benefits-icon
	&__benefits-icon {
		width: 2.625rem;
		height: 2.625rem;
		flex-shrink: 0;

		& img {
			width: 100%;
		}
	}

	// .article__benefits-text
	&__benefits-text {
		font-size: 1rem;
		line-height: 150%;

		@media (min-width: $md4) {
			font-size: 1.125rem;
			line-height: 133.333%;
		}
	}

	// .article__slider
	&__slider {
		position: relative;
		overflow: hidden;

		&:not(:first-child) {
			margin-top: 3rem;
		}

		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}

	// .article__slide
	&__slide {
		min-height: 15.625rem;
		height: auto;

		& img {
			min-height: 100%;
			object-fit: cover;
			width: 100%;
		}
	}

	// .article__prev
	&__prev {
		&.swiper-button-prev {
			position: absolute;
			top: 50% !important;
			transform: translateY(-50%) !important;
			left: rem(10) !important;
			background: #fff;

			@media (max-width: $md4) {
				width: 3rem !important;
				height: 3rem !important;
			}

			@media (min-width: $md4) {
				left: 1.25rem !important;
			}
		}
	}

	// .article__prev
	&__next {
		&.swiper-button-next {
			position: absolute;
			top: 50% !important;
			transform: translateY(-50%) !important;
			right: rem(10) !important;
			background: #fff;

			@media (max-width: $md4) {
				width: 3rem !important;
				height: 3rem !important;
			}

			@media (min-width: $md4) {
				right: 1.25rem !important;
			}
		}
	}

	// .article__pagination
	&__pagination {
		&.swiper-pagination {
			position: absolute;
			bottom: 1.25rem;
			z-index: 2;
			margin: 0;
			color: #fff;
			max-width: 75%;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	// .article__conclusion
	&__conclusion {
		margin-top: 3rem;
		border-radius: 1rem;
		background: #fafafa;
		padding: 1rem 0.75rem;

		@media (min-width: $md4) {
			padding: 2rem;
		}
	}

	// .article__conclusion-list
	&__conclusion-list {
		margin-top: 1.25rem;

		& li {
			position: relative;
			color: #181d27;
			padding-left: 2rem;

			font-size: 1.125rem;
			line-height: 144.444%;

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 1.5rem;
				height: 1.5rem;
				font-size: 1.25rem;
				display: flex;
				justify-content: center;
				align-items: center;
				color: #25b887;
				// @extend %ic, .icon-check;
			}

			&:not(:last-child) {
				margin-bottom: 0.75rem;
			}
		}
	}

	// .article__body
	&__body {
		margin-top: rem(42);
		padding-bottom: 3rem;

		@media (min-width: $md4) {
			margin-top: 4rem;
		}

		// & > img {
		// 	width: 100%;
		// 	border-radius: rem(12);
		// }
		// & h2 {
		// 	font-weight: 600;
		// 	line-height: 126.667%;
		// 	color: #181d27;
		// 	font-size: rem(20);
		// 	@media (min-width: $md4) {
		// 		font-size: 1.875rem;
		// 	}
		// 	&:not(:first-child) {
		// 		margin-top: 2rem;
		// 	}
		// 	&:not(:last-child) {
		// 		margin-bottom: 1.25rem;
		// 	}
		// }
		// & h3 {
		// 	color: #181d27;
		// 	font-weight: 600;
		// 	font-size: 1.25rem;
		// 	line-height: 160%;
		// 	@media (min-width: $md4) {
		// 		line-height: 133.333%;
		// 		font-size: 1.5rem;
		// 	}
		// 	&:not(:first-child) {
		// 		margin-top: 2rem;
		// 	}
		// 	&:not(:last-child) {
		// 		margin-bottom: 1.25rem;
		// 	}
		// }
		// & p,
		// & ul:not([class]) {
		// 	font-size: 1rem;
		// 	line-height: 150%;
		// 	@media (min-width: $md4) {
		// 		font-size: 1.125rem;
		// 		line-height: 155.556%;
		// 	}
		// 	&:not(:last-child) {
		// 		margin-bottom: 1.25rem;
		// 	}
		// }
		// & dfn {
		// 	color: #1570ef;
		// 	font-style: normal;
		// }
		// & figure {
		// 	&:not(:first-child) {
		// 		margin-top: 3rem;
		// 	}
		// 	&:not(:last-child) {
		// 		margin-bottom: 3rem;
		// 	}
		// 	& > img {
		// 		min-height: 14.375rem;
		// 		object-fit: cover;
		// 		width: 100%;
		// 		border-radius: rem(12);
		// 	}
		// 	figcaption {
		// 		margin-top: 1rem;
		// 		font-size: 0.875rem;
		// 		line-height: 142.857%;
		// 		& a {
		// 			text-decoration: underline;
		// 			color: inherit;
		// 			@media (any-hover: hover) {
		// 				&:hover {
		// 					text-decoration: none;
		// 				}
		// 			}
		// 		}
		// 	}
		// &:has(cite) {
		// border-left: 0.125rem solid #ff7dbc;
		// padding-block: 0.5rem;
		// display: flex;
		// flex-direction: column;
		// align-items: flex-start;
		// padding-left: 1.25rem;
		// @media (min-width: $md4) {
		// 	padding-left: 1.5rem;
		// }
		// & cite {
		// 	padding-left: 0;
		// 	border-left: 0;
		// 	padding-block: 0;
		// }
		// .article__author {
		// 	margin-top: 2rem;
		// }
		// .article__author-thumb {
		// 	width: 3rem;
		// 	height: 3rem;
		// }
		// }
		// }

		// & iframe {
		// 	width: 100%;
		// 	aspect-ratio: math.div(328, 187);
		// 	&:not(:first-child) {
		// 		margin-top: 3rem;
		// 	}
		// 	&:not(:last-child) {
		// 		margin-bottom: 3rem;
		// 	}
		// }
		// & ul:not([class]) {
		// 	list-style: disc;
		// 	padding-left: 1em;
		// 	& li {
		// 		&::marker {
		// 			font-size: 0.35em;
		// 		}
		// 	}
		// }
		// .faq__list {
		// 	max-width: 100%;
		// }
	}

	// .article__footer
	&__footer {
		padding-top: 1.5rem;
	}

	// .article__likes
	&__likes {
		display: flex;
		align-items: center;
		gap: 0.75rem;

		@media (min-width: $md4) {
			gap: 1rem;
		}
	}

	// .article__likes-text
	&__likes-text {
		line-height: 150%;
		font-size: 1.125rem;

		@media (min-width: $md4) {
			font-size: 1.25rem;
		}
	}

	// .article__likes-btns
	&__likes-btns {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	// .article__likes-btn
	&__likes-btn {
		position: relative;
		line-height: 150%;
		display: flex;
		align-items: center;
		gap: 0.375rem;
		font-size: 1.125rem;

		@media (min-width: $md4) {
			font-size: 1.25rem;
		}

		&::before {
			color: #98a2b3;
			width: 1.5rem;
			height: 1.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-shrink: 0;
			transition: color 0.3s ease;
		}

		&::after {
			content: "";
			position: absolute;
			inset: rem(-5) rem(-8);
			border-radius: 0.5rem;
			background: #f5f5f5;
			opacity: 0;
			transition: all 0.3s ease-in-out;
			pointer-events: none;
			z-index: -1;
		}

		&.icon-like {
			color: #0f7a65;
		}

		&.icon-dislike {
			color: #f04438;
		}

		&.is-active {
			&::after {
				opacity: 1;
				pointer-events: all;
			}

			&::before {
				animation: pulse 0.3s ease-in-out;
			}

			&.icon-like {
				&::before {
					color: #0f7a65;
				}
			}

			&.icon-dislike {
				&::before {
					color: #f04438;
				}
			}

			@keyframes pulse {
				0% {
					transform: scale(1);
				}

				50% {
					transform: scale(1.4);
				}

				100% {
					transform: scale(1.1);
				}
			}
		}

		@media (any-hover: hover) {
			&:hover {
				&::before {
					color: currentColor;
				}
			}
		}
	}

	// .article__bottom
	&__bottom {
		margin-top: 1.25rem;
		padding-top: 1.25rem;
		border-top: rem(1) solid #eaecf0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 0.75rem;
	}

	// .article__labels
	&__labels {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		margin-right: auto;
	}

	// .article__label
	&__label {
		color: #fff;
		border-radius: 2.5rem;
		background: #181d27;
		padding: 0.5rem 0.75rem;
		font-size: 1rem;
		font-weight: 400;
		letter-spacing: -0.01rem;
		text-transform: uppercase;
	}

	// .article__copy
	&__copy {
		border-radius: 0.5rem;
		border: rem(1) solid #d0d5dd;
		box-shadow: 0 rem(1) rem(2) 0 rgba(16, 24, 40, 0.05);
		flex-shrink: 0;
		color: #414651;
		font-size: 0.875rem;
		font-weight: 600;
		line-height: 142.857%;
		gap: 0.5rem;
		display: flex;
		align-items: center;
		padding: 0.375rem 0.75rem;
		transition:
			background-color 0.3s ease,
			color 0.3s ease;

		&::before {
			flex-shrink: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 1.25rem;
			font-size: 1.25rem;
			height: 1.25rem;
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: #414651;
				color: #fff;
			}
		}
	}

	// .article__socials
	&__socials {
		max-width: 15.75rem;
		gap: 0.75rem;

		@media (min-width: $md4) {
			justify-content: flex-end;
		}
	}

	// .article__blockquote
	&__blockquote {
		border-left: 0.125rem solid #ff4405;
		padding-block: 0.5rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding-left: 1.25rem;

		@media (min-width: $md4) {
			padding-left: 1.5rem;
		}

		.article__author {
			margin-top: 2rem;
			gap: 0.75rem;
		}

		.article__author-thumb {
			width: 3rem;
			height: 3rem;
		}

		.article__author-name {
			font-size: 1.125rem;
			font-weight: 700;
			line-height: 144.444%;
		}
	}

	// .article__blockquote-text
	&__blockquote-text {
		padding: 0 !important;
		margin: 0 !important;
		background: transparent !important;
		font-style: italic;

		&::before {
			display: none !important;
		}
	}

	// .article__accordion
	&__accordion {
		margin: 3.25rem 0 3rem;
	}

	// .article__items
	&__items {
		display: grid;
		gap: 0.75rem;
		margin: 2rem 0;

		&.article__items--cols {
			@media (min-width: $md4) {
				grid-template-columns: repeat(12, 1fr);
				row-gap: 2rem;
			}

			.article__item {
				flex-direction: column;
				align-items: flex-start;
				gap: 1rem;

				@media (min-width: $md4) {
					grid-column: span 4;

					&.article__item--size-large {
						grid-column: span 8;
					}

					&.article__item--size-extralarge {
						grid-column: span 12;
					}
				}

				.article__item-ic {
					@media (min-width: $md3) {
						width: 3.5rem;
						height: 3.5rem;
					}

					@media (min-width: $md1) {
						width: 5rem;
						height: 5rem;
					}
				}
			}
		}

		@media (min-width: $md4) {
			margin: 3rem 0;
		}
	}

	// .article__item
	&__item {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		padding: 0.75rem 1.375rem;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

		&.article__item--decor {
			&.is-light {
				background-image: url("@img/article-item-decor-light.png");
			}

			background-image: url("@img/article-item-decor.png");
		}
	}

	// .article__item-ic
	&__item-ic {
		width: 2.625rem;
		height: 2.625rem;
		flex-shrink: 0;

		& img,
		& svg {
			width: 100%;
			height: 100%;
		}
	}

	// .article__item-txt
	&__item-txt {
		line-height: 133.333%;
		font-size: 1rem;

		@media (min-width: $md1) {
			font-size: 1.125rem;
		}
	}

	// .article__checklist
	&__checklist {
		&:not(:first-child) {
			margin-top: 3rem;
		}

		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}
}

.checklist-block {
	border-radius: 0.5rem;
	background: #f5f5f5;
	padding: 2rem;

	// .checklist-block__title
	&__title {
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 133.333%;
	}

	// .checklist-block__description
	&__description {
		margin-top: 1.25rem;
		color: #535862;
		font-size: 1.125rem;
		font-style: italic;
		line-height: 144.444%;
	}

	// .checklist-block__list
	&__list {
		margin-top: 1.25rem;
	}

	// .checklist-block__item
	&__item {
		counter-increment: num;
		padding-left: 2rem;
		position: relative;

		&:not(:last-child) {
			margin-bottom: 0.75rem;
		}

		&::before {
			display: inline !important;
			position: static !important;
		}

		&::after {
			content: "\e90e";
			width: 1.5rem;
			height: 1.5rem;
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1.5rem;
			color: #25b887;
			@extend %ic;
		}
	}
}

.typography-block {
	font-size: 1.125rem;
	line-height: 1.55;

	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $font-gilroy;
		font-weight: 600;
	}

	h1 {
		margin-top: 0;
		margin-bottom: 2.4rem;
		font-size: 3rem;
		font-family: $font-gilroy;
		font-weight: 500;
		line-height: 1.25;
	}

	h2 {
		margin: 2.5rem 0 1.25rem;
		font-size: 2.25rem;
		line-height: 116.667%;

		&:first-child {
			margin-top: 0;
		}
	}

	h3 {
		font-size: 1.75rem;
		margin: 2rem 0 1rem;
		line-height: 128.571%;

		&:first-child {
			margin-top: 0;
		}
	}

	h4 {
		font-size: 1.5rem;
		line-height: 1.45;
		margin: 2rem 0 1rem;

		&:first-child {
			margin-top: 0;
		}
	}

	p {
		a {
			color: #1570ef;
		}

		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}

	ul,
	ol {
		&:not(.case-block__list) {

			margin: 0 0 1.5em;

			@media screen and (max-width: $md4) {
				margin-bottom: 1.2em;
			}

			&:last-child {
				margin-bottom: 0;
			}

			li {
				position: relative;
				padding-left: 2.2rem;

				&::before {
					content: "";
					display: block;
					position: absolute;
					left: 0.3em;
				}
			}
		}
	}

	ul {
		&:not(.case-block__list) {
			li {
				&::before {
					width: 4px;
					height: 4px;
					top: 0.7em;
					background: currentColor;
					border-radius: 50%;
				}
			}
		}
	}

	ol {
		counter-reset: i;

		li::before {
			counter-increment: i;
			content: counter(i) ".";
			top: 0;
		}
	}

	a {
		&:not(.article__more) {
			color: #1570ef;

			@media (any-hover: hover) {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	& cite,
	& blockquote {
		margin: 1.5rem 0 2rem;
		padding: 1.125rem;
		border-radius: 0.5rem;
		background: #f5f5f5;
		color: #181d27;
		font-weight: 600;
		line-height: 155.556%;
		display: block;
		font-size: 1.125rem;
		padding-left: rem(42);
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 1.125rem;
			left: rem(18);
			bottom: 1.125rem;
			width: rem(4);
			background: #ff4405;
		}
	}

	& figure {
		margin: 3rem 0 2rem;

		&:last-child {
			margin-bottom: 0;
		}

		&:first-child {
			margin-top: 0;
		}

		& figcaption {
			margin-top: 1rem;
			margin-bottom: 0;
			color: #414651;
			font-size: 0.875rem;
			line-height: 142.857%;
		}
	}

	.wp-block-columns {
		margin: 3rem 0 2rem;
		gap: rem(12) !important;

		.wp-block-column {
			display: flex;
			flex-direction: column;

			&:last-child {
				& figcaption {
					text-align: right;
				}
			}

			& figure {
				flex: 1 1 auto;
				display: flex;
				flex-direction: column;
				margin: 0;

				& img {
					width: 100%;
					height: 100%;
					flex: 1 1 auto;
					object-fit: cover;
				}
			}
		}
	}

	.wp-block-image {
		& img {
			width: 100% !important;
			height: 100% !important;
		}
	}
}

.video-modal-block {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background: rgba(24, 29, 39, 0.86);

	.wp-block-column & {
		min-height: 100%;

	}

	&.poster-default {
		& img {
			max-width: 90%;
			width: auto;
			height: auto;
			object-fit: contain;
		}
	}

	& img {
		width: 100%;
		height: auto;
		min-height: rem(320);
		object-fit: cover;
	}

	&::before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		width: 4rem;
		height: 4rem;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background: rgba(255, 255, 255, 0.30);
		backdrop-filter: blur(rem(8));
		-webkit-backdrop-filter: blur(rem(8));
		transition: background-color 0.3s ease;
		color: #fff;
	}

	@media (any-hover: hover) {
		&:hover {
			&::before {
				background: rgba(255, 255, 255, 0.10)
			}
		}
	}
}