@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

.articles {
	padding-top: 3rem !important;
	//.articles__container
	&__container {
	}
	//.articles__tags
	&__tags {
		display: flex;
		flex-wrap: wrap;
		gap: rem(8);
	}
	//.articles__tag
	&__tag {
		font-size: 1.25rem;
		letter-spacing: -0.0125rem;
		text-transform: uppercase;
		padding: 0.25rem 0.75rem;
		border-radius: 2.5rem;
		border: rem(1) solid #181d27;
		color: #181d27;
		transition: all 0.3s ease;
		&.active {
			background: #181d27;
			color: #fff;
		}
		@media (any-hover: hover) {
			&:hover {
				background: #181d27;
				color: #fff;
			}
		}
	}
	//.articles__header
	&__header {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		@media (min-width: $md4) {
			gap: 0.5rem;
			padding-bottom: rem(18);
			border-bottom: rem(1) solid #d5d7da;
			align-items: center;
			flex-direction: row;
		}
	}
	//.articles__title
	&__title {
		font-weight: 700;
		line-height: 140%;
		border-bottom: rem(1) solid #d5d7da;
		padding-bottom: 1rem;
		font-size: 1.25rem;
		@media (min-width: $md4) {
			font-size: 1.5rem;
			padding-bottom: 0;
			border-bottom: 0;
		}
	}
	&__controls {
		display: none;
		@media (min-width: $md4) {
			display: flex;
			margin-left: auto;
			gap: 0.75rem;
		}
	}
	&__slider {
		margin-top: 1.5rem;
		@media (max-width: $md4) {
			.swiper-wrapper {
				flex-direction: column;
				gap: 2rem;
			}
		}
	}
	//.articles__quantity
	&__quantity {
	}
	//.articles__filters
	&__filters {
		display: flex;
		align-items: center;
		gap: rem(24);
		@media (min-width: $md4) {
			margin-left: auto;
		}
	}
	//.articles__filter
	&__filter {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		gap: 0.75rem;
		&:first-child {
			min-width: 13.75rem;
		}
	}
	//.articles__select
	&__select {
	}
	//.articles__filter-text
	&__filter-text {
		display: none;
		@media (min-width: $md4) {
			display: inline-block;
			font-size: 1rem;
			line-height: 150%;
		}
	}
	//.articles__list
	&__list {
		margin-top: 2rem;
		display: grid;
		gap: 2rem;
		@media (min-width: $md4) {
			grid-template-columns: repeat(2, 1fr);
			gap: 1.5rem;
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (min-width: $md0) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
	//.articles__item
	&__item {
		position: relative;
		&.swiper-slide {
			height: auto;
		}
	}
	//.articles__card
	&__card {
		display: flex;
		flex-direction: column;
		min-height: 100%;
		transition: background-color 0.3s ease;
		@media (min-width: $md2) {
			padding: 1.125rem 1rem;
		}
		@media (any-hover: hover) {
			&:hover {
				background: #f5f5f5;
				.articles__card-name {
					color: #1570ef;
				}
				.articles__card-date,
				.articles__card-read {
					&::before {
						color: #ff4405;
					}
				}
			}
		}
	}
	//.articles__card-label
	&__card-label {
		position: absolute;
		z-index: 2;
		top: 0.75rem;
		left: 0.75rem;
		border-radius: 2.5rem;
		background: #fff;
		color: #181d27;
		padding: 0.375rem 0.5rem;
		font-size: 0.625rem;
		letter-spacing: -0.00625rem;
		text-transform: uppercase;
		@media (min-width: $md2) {
			top: rem(30);
			left: 1.75rem;
		}
	}
	//.articles__card-image
	&__card-image {
		height: 0;
		width: 100%;
		position: relative;
		z-index: 1;
		padding-bottom: 66.66%;
		overflow: hidden;
		background: rgba(24, 29, 39, 0.86);
		&.is-placeholder {
			& img {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		& img {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	//.articles__card-name
	&__card-name {
		margin-top: 1rem;
		font-weight: 500;
		line-height: 120%;
		font-size: 1.25rem;
		transition: color 0.3s ease;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		text-overflow: ellipsis;
		overflow: hidden;
		@media (min-width: $md4) {
			font-size: 1.5rem;
		}
	}
	//.articles__card-desc
	&__card-desc {
		margin-top: 0.5rem;
		color: #414651;
		margin-bottom: auto;
		font-size: 0.875rem;
		line-height: 157.143%;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 4;
		text-overflow: ellipsis;
		overflow: hidden;
		@media (min-width: $md4) {
			line-height: 150%;
			font-size: 1rem;
		}
	}
	//.articles__card-bottom
	&__card-bottom {
		border-top: rem(1) solid #e9eaeb;
		padding-top: 0.75rem;
		display: flex;
		align-items: center;
		gap: 1rem;
		margin-top: 1rem;
		@media (min-width: $md4) {
			margin-top: 1.5rem;
		}
	}
	//.articles__card-date
	&__card-date {
		display: flex;
		align-items: center;
		gap: rem(6);
		font-size: 0.875rem;
		line-height: 150%;
		&::before {
			color: #a4a7ae;
			width: 1.25rem;
			height: 1.25rem;
			font-size: 1.25rem;
			flex-shrink: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: color 0.3s ease;
		}
		@media (min-width: $md4) {
			font-size: 1rem;
		}
	}
	//.articles__card-read
	&__card-read {
		@extend.articles__card-date;
	}
	//.articles__pagination
	&__pagination {
		margin-top: 2rem;
		border-top: rem(1) solid #d5d7da;
	}
}
