@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

.case-detail {

    // .case-detail__body
    &__body {
        position: relative;
    }

    // .case-detail__back
    &__back {
        position: absolute;
        top: 0;
        left: 0;
    }

    // .case-detail__main
    &__main {
        max-width: rem(1112);
        margin: 0 auto;
    }

    // .case-detail__header
    &__header {
        display: flex;
        align-items: center;
        gap: 0.75rem;
    }

    // .case-detail__type
    &__type {}

    // .case-detail__category
    &__category {}

    // .case-detail__content
    &__content {
        margin-top: 1.5rem;
    }

    // .case-detail__banner
    &__banner {
        background: #F5F5F5;
        padding: 1.5rem;
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
    }

    // .case-detail__banner-text
    &__banner-text {
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: -0.0125rem;
    }


    // .case-detail__more
    &__more {
        margin-top: 2rem;
    }

    // .case-detail__more-hint
    &__more-hint {
        justify-content: center;
        text-align: center;
    }

    // .case-detail__other
    &__other {}



}


.case-block {
    &:not(:first-child) {
        margin-top: 2rem;
    }

    &:not(:last-child) {
        margin-bottom: 2rem;
    }

    &.case-block--results {}

    &.case-block--client-desc {}

    &.case-block--request {}

    // .case-block__list
    &__list {
        columns: 2;
        column-gap: 1rem;
    }

    // .case-block__list-item
    &__list-item {
        position: relative;
        padding-left: rem(26);

        &:not(:last-child) {
            margin-bottom: rem(12);
        }

        &::before {
            position: absolute;
            top: 0.25rem;
            left: 0;
            color: #17B26A;
            width: 1.25rem;
            height: 1.25rem;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            text-align: center;
            font-size: 1.25rem;
            @extend %ic, .icon-check;
        }
    }

}