@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

.cases {

    // .cases__header
    &__header {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        @media (min-width: $md5) {
            gap: 0.875rem;
            align-items: center;
            text-align: center;
            margin: 0 auto;
            max-width: 40rem;
        }
    }

    // .cases__hint
    &__hint {}

    // .cases__title
    &__title {}

    // .cases__subtitle
    &__subtitle {
        letter-spacing: normal;
    }

    // .cases__list
    &__list {
        display: grid;
        gap: 1rem;
        margin-top: 2rem;

        @media (min-width: $md4) {
            margin-top: 4rem;
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: $md3) {
            gap: 1.5rem;
        }

        @media (min-width: $md1) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    // .cases__item
    &__item {}

    // .cases__more
    &__more {
        width: 100%;
        margin-top: 1rem;

        @media (min-width: $md3) {
            margin-top: 1.5rem;
        }
    }
}

.case-card {
    position: relative;
    display: block;
    background: rgba(24, 29, 39, 0.86);
    color: #fff;

    &::after {
        content: "";
        position: absolute;
        top: rem(-1.5);
        right: rem(-1.5);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 100% 0;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='74' viewBox='0 0 80 74' fill='none'%3E%3Cpath d='M80 74C80 56.6063 70.6637 40.5383 55.5163 31.8533L0 0H80V74Z' fill='white'/%3E%3C/svg%3E");
        aspect-ratio: math.div(64, 59);
        width: #{math.div(6400%, 328)};

        @media (min-width: $md5) {
            width: #{math.div(8000%, 544)};
            aspect-ratio: math.div(80, 74);
        }
    }

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 9.375rem;
        background: linear-gradient(0deg, #ff4405 0%, rgba(0, 0, 0, 0) 100%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        z-index: 3;
    }

    @media (any-hover: hover) {
        &:hover {
            &::before {
                opacity: 1;
                visibility: visible;
            }

            .case-card__image {
                &::before {
                    opacity: 1;
                    visibility: visible;
                }
            }

            .case-card__more {
                margin-top: 0.38rem;
                opacity: 1;
                visibility: visible;
                height: 1.375rem;
            }

            .case-card__client {
                margin-bottom: 0;
            }
        }
    }

    // .case-card__image
    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: math.div(328, 260);

        @media (min-width: $md5) {
            aspect-ratio: math.div(544, 328);
        }

        &.case-card__image--placeholder {
            & img {
                width: 50%;
                height: auto;
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: rem(100);
            height: rem(100);
            transform: translate(-50%, -50%);
            background: url("@img/more-case.svg") center / contain no-repeat;
            opacity: 0;
            visibility: hidden;
            transition:
                opacity 0.3s ease,
                visibility 0.3s ease;
            z-index: 2;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
        }
    }

    // .case-card__content
    &__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 4;
    }

    // .case-card__labels
    &__labels {
        display: flex;
        flex-wrap: wrap;
        padding: rem(12);
        gap: rem(12);
        padding-right: #{math.div(6400%, 328)};

        @media (min-width: $md5) {
            gap: 1rem;
            padding: 1rem;
            padding-right: #{math.div(8000%, 544)};
        }
    }

    // .case-card__label
    &__label {
        background: #fff;
        color: #181d27;
        letter-spacing: -0.00875rem;
        text-transform: uppercase;
        border-radius: 2.5rem;
        font-size: 0.625rem;
        padding: rem(4) 0.5rem;

        @media (min-width: $md4) {
            font-size: 0.875rem;
            padding: rem(2) 0.5rem;
        }
    }

    // .case-card__footer
    &__footer {
        display: flex;
        flex-direction: column;
        padding: 0.75rem;

        @media (min-width: $md4) {
            padding: 0.75rem 1rem;
        }
    }

    // .case-card__name
    &__name {
        font-weight: 500;
        line-height: 120%;
        font-size: 1.125rem;
        letter-spacing: -0.01125rem;

        @media (min-width: $md3) {
            letter-spacing: -0.0125rem;
            font-size: 1.25rem;
        }
    }

    // .case-card__more
    &__more {
        margin: 0;
        opacity: 0;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
    }

    // .case-card__client
    &__client {
        font-size: 0.875rem;
        line-height: 157.143%;
        letter-spacing: -0.00875rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        margin-bottom: -100%;
    }

    // .case-card__client-caption
    &__client-caption {
        font-weight: 600;
        margin-right: 0.125rem;
    }

    // .case-card__client-details
    &__client-details {}
}


.case-detail {

    // .case-detail__body
    &__body {
        position: relative;
        display: flex;
        gap: 1.5rem;
        flex-direction: column;
        align-items: flex-start;

        @media (min-width:$md3) {
            flex-direction: row;
            justify-content: space-between;

        }
    }

    // .case-detail__back
    &__back {
        @media (max-width:$md3) {
            display: none;
        }

        @media (min-width:$md1) {
            position: absolute;
            top: 0;
            left: 0;

        }
    }

    // .case-detail__main
    &__main {
        @media (min-width:$md1) {
            margin: 0 auto;
            max-width: rem(940);

        }

        @media (min-width:$md0) {
            max-width: rem(1112);

        }
    }

    // .case-detail__header
    &__header {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.75rem;
    }

    // .case-detail__type
    &__type {}

    // .case-detail__category
    &__category {}

    // .case-detail__content
    &__content {
        margin-top: 1.5rem;

        &.typography-block {
            h2 {
                @media (min-width:$md2) {
                    font-size: 3rem;
                }
            }
        }
    }

    // .case-detail__banner
    &__banner {
        background: #F5F5F5;
        padding: 1.5rem;
        display: grid;
        gap: 1.5rem;

        @media (min-width:$md4) {
            align-items: center;
            grid-template-columns: repeat(2, 1fr);

        }
    }

    // .case-detail__banner-text
    &__banner-text {
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: -0.0125rem;
    }


    // .case-detail__more
    &__more {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
    }

    // .case-detail__more-hint
    &__more-hint {
        justify-content: center;
        text-align: center;
    }

    // .case-detail__other
    &__other {}



}


.case-block {
    &:not(:first-child) {
        margin-top: 2rem;
    }

    &:not(:last-child) {
        margin-bottom: 2rem;
    }

    &.case-block--results {}

    &.case-block--client-desc {}

    &.case-block--request {}

    // .case-block__list
    &__list {
        column-gap: 1rem;

        @media (min-width:$md4) {
            columns: 2;

        }
    }

    // .case-block__list-item
    &__list-item {
        position: relative;
        padding-left: rem(26);

        &:not(:last-child) {
            margin-bottom: rem(12);
        }

        &::before {
            position: absolute;
            top: 0.25rem;
            left: 0;
            color: #17B26A;
            width: 1.25rem;
            height: 1.25rem;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            text-align: center;
            font-size: 1.25rem;
            @extend %ic, .icon-check;
        }
    }

}