.promo {
	// .promo__side
	&__side {
	}
	// .promo__form
	&__form {
	}
	// .promo__form-header
	&__form-header {
	}
	// .promo__form-caption
	&__form-caption {
	}
	// .promo__form-text
	&__form-text {
	}
	// .promo__form-fields
	&__form-fields {
	}
	// .promo__form-field
	&__form-field {
	}
	// .promo__form-footer
	&__form-footer {
	}
}

.promo {
	background: rgba($color: #000000, $alpha: 0.4);
	color: #fff;
	padding: rem(200) 0 rem(80);
	position: relative;
	z-index: $ui-index-1;
	min-height: rem(1000);
	display: flex;
	flex-direction: column;
	&__actions {
		margin-top: auto;
	}
	// .promo__slider
	&__slider {
		position: absolute;
		inset: 0;
		z-index: $ui-index-1;
	}
	// .promo__slide
	&__slide {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		padding: rem(200) 0 rem(80);
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		position: relative;
		z-index: $ui-index-1;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba($color: #000000, $alpha: 0.4);
		}
		.container {
			width: 100%;
		}
	}
	// .promo__video
	&__video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
	}
	// .promo__offer
	&__offer {
		position: relative;
		z-index: $ui-index-2;
		max-width: 52rem;
		margin-right: rem(420);
	}
	// .promo__title
	&__title {
		font-family: $font-gilroy;
		font-size: 3.5rem;
		font-weight: 700;
		line-height: 100%;
	}
	// .promo__subtitle
	&__subtitle {
		margin-top: 1rem;
		font-size: 1.25rem;
		line-height: 130%;
	}
	// .promo__btns
	&__btns {
		margin-top: 3rem;
		display: flex;
		flex-wrap: wrap;
		gap: 0.75rem;
	}
	// .promo__side
	&__side {
		position: relative;
		z-index: $ui-index-2;
		width: rem(402);
		margin-left: auto;
	}
	// .promo__tabs
	&__tabs {
		display: grid;
		gap: 0.5rem;
		grid-template-columns: repeat(2, 1fr);
	}
	// .promo__tab-btn
	&__tab-btn {
		position: relative;
		display: flex;
		justify-content: space-between;
		text-align: left;
		align-items: center;
		padding: 0.375rem 0.375rem 0.375rem 0.875rem;
		gap: 0.625rem;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
			border: rem(1) solid #fff;
		}
		&.active {
			background: #fff;
			color: #181d27;
			.promo__tab-icon {
				background: #181d27;
				& svg {
					path {
						stroke: #ff4405;
					}
				}
			}
			.promo__tab-border {
				opacity: 1;
			}
			&.counting {
				.promo__tab-border rect {
					stroke-dashoffset: 0 !important;
					transition: stroke-dashoffset var(--counting-speed) linear;
				}
			}
			&:not(.counting) {
				.promo__tab-border rect {
					stroke-dashoffset: 0 !important;
				}
			}
		}
		&:nth-child(odd):last-child {
			grid-column: span 2;
		}
	}
	// .promo__tab-text
	&__tab-text {
	}
	// .promo__tab-icon
	&__tab-icon {
		width: 3rem;
		height: 3rem;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(rem(10));
		-webkit-backdrop-filter: blur(rem(10));
	}
	// .promo__tab-border
	&__tab-border {
		position: absolute;
		inset: 0;
		z-index: 10;
		pointer-events: none;
		opacity: 0;
		transition: opacity 0.3s ease;
		display: none;
		rect {
			width: 100%;
			height: 100%;
			fill: none;
			stroke: #ff4405;
			stroke-width: 4;
			stroke-dashoffset: 0;
			transition: none;
		}
	}
	// .promo__form
	&__form {
		margin-top: 2.25rem;
		background: rgba(255, 255, 255, 0.3);
		backdrop-filter: blur(rem(21));
		-webkit-backdrop-filter: blur(rem(21));
		position: relative;
		z-index: $ui-index-1;
		padding: rem(32);
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(#fff, rgba(#fff, 0.2)) 0 0 / rem(1) 100% no-repeat, linear-gradient(#fff, rgba(#fff, 0.2)) 100% 0 / rem(1) 100% no-repeat,
				linear-gradient(rgba(#fff, 0.2), rgba(#fff, 0.2)) 0 100% / 100% rem(1) no-repeat, linear-gradient(#fff, #fff) 0 0 / 100% rem(1) no-repeat;
			z-index: -1;
		}
	}
	// .promo__form-header
	&__form-header {
	}
	// .promo__form-caption
	&__form-caption {
	}
	// .promo__form-text
	&__form-text {
		margin-top: 1.25rem;
		font-size: 1rem;
		line-height: 150%;
	}
	// .promo__form-fields
	&__form-fields {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		gap: rem(8);
	}
	// .promo__form-field
	&__form-field {
	}
	// .promo__form-footer
	&__form-footer {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		text-align: center;
	}
}
