@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

.promo {
	background: rgba($color: #000000, $alpha: 0.4);
	color: #fff;
	position: relative;
	z-index: $ui-index-1;
	display: flex;
	flex-direction: column-reverse;
	min-height: rem(650);

	@media (min-width: $md3) {
		flex-direction: column;
		padding: rem(86) 0 rem(40);
		min-height: rem(700);
		height: 100svh;
	}

	@media (min-width: $md0) {
		min-height: rem(1000);
		height: 100%;
		padding: rem(200) 0 rem(80);
	}

	&.promo--services {
		min-height: rem(900);
		height: 100%;
		padding: rem(100) 0 rem(64);

		@media (max-width: $md3) {
			min-height: rem(650);
			padding: rem(72) 0 rem(24);
			justify-content: space-between;

			.promo__slide {
				padding-bottom: rem(96);
			}
		}

		.promo__side {
			padding-top: rem(24);
		}

		.promo__slide {
			padding-bottom: rem(64);
		}

		.promo__actions {
			order: -1;
		}

		.promo__slider {
			position: absolute;
			inset: 0;
			z-index: $ui-index-1;
		}
	}

	// .promo__top
	&__top {
		width: 100%;
		order: -1;

		.breadcrumbs {
			.breadcrumbs__current {
				&[aria-current="page"] {
					color: #a4a7ae;
				}
			}
		}
	}

	// .promo__actions
	&__actions {
		@media (min-width: $md3) {
			margin-top: auto;
		}
	}

	// .promo__slider
	&__slider {
		max-width: 100%;
		min-width: 0;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;

		& .swiper-wrapper {
			flex: 1 1 auto;
		}

		@media (min-width: $md3) {
			position: absolute;
			inset: 0;
			z-index: $ui-index-1;
		}
	}

	// .promo__slide
	&__slide {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		position: relative;
		z-index: $ui-index-1;
		padding: rem(340) 0 rem(28);
		height: auto;

		@media (min-width: $md3) {
			padding: rem(100) 0 rem(40);
		}

		@media (min-width: $md2) {
			padding: rem(200) 0 rem(80);
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba($color: #000000, $alpha: 0.4);
		}

		.container {
			width: 100%;
		}
	}

	// .promo__video
	&__video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
	}

	// .promo__offer
	&__offer {
		position: relative;
		z-index: $ui-index-2;

		@media (min-width: $md3) {
			max-width: 52rem;
			margin-right: rem(420);
		}
	}

	// .promo__title
	&__title {}

	// .promo__subtitle
	&__subtitle {
		margin-top: 1rem;
		line-height: 157.143%;
		font-size: 0.875rem;

		@media (min-width: $md5) {
			line-height: 130%;
			font-size: 1rem;
		}

		@media (min-width: $md3) {
			font-size: 1.25rem;
		}
	}

	// .promo__btns
	&__btns {
		gap: 0.75rem;
		margin-top: 1rem;
		display: flex;
		flex-wrap: wrap;

		.btn {
			flex: 1 1 auto;
		}

		@media (min-width: $md5) {
			margin-top: 3rem;

			.btn {
				flex: 0 1 auto;
			}

		}
	}

	// .promo__side
	&__side {
		position: relative;
		z-index: $ui-index-2;
		padding-top: rem(56);

		@media (min-width: $md3) {
			padding-top: 0;
			width: rem(402);
			margin-left: auto;
		}
	}

	// .promo__tabs
	&__tabs {
		display: grid;
		gap: 0.5rem;
		grid-template-columns: repeat(2, 1fr);
		padding: 1rem 0;
		margin-bottom: -100%;

		@media (min-width: $md3) {
			margin-bottom: 0;
			padding: 0;
		}
	}

	// .promo__tab-btn
	&__tab-btn {
		position: relative;
		display: flex;
		justify-content: space-between;
		text-align: left;
		align-items: center;
		gap: 0.625rem;
		padding: 0.25rem 0.25rem 0.25rem 0.75rem;
		font-size: 0.875rem;

		@media (min-width: $md5) {
			font-size: 1rem;
			padding: 0.375rem 0.375rem 0.375rem 0.875rem;
		}

		@media (min-width: $md3) {
			@media (max-height: 800px) {
				padding: 0.25rem 0.25rem 0.25rem 0.75rem;
				font-size: 0.875rem;
			}
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
			border: rem(1) solid #fff;
		}

		&.active {
			background: #fff;
			color: #181d27;

			.promo__tab-icon {
				background: #181d27;

				& svg {
					path {
						stroke: #ff4405;
					}
				}
			}

			&.counting {
				.promo__tab-border {
					opacity: 1;
				}

				.promo__tab-border rect {
					stroke-dashoffset: 0 !important;
					transition: stroke-dashoffset var(--counting-speed) linear;
				}
			}

			&:not(.counting) {
				.promo__tab-border rect {
					stroke-dashoffset: 0 !important;
				}
			}
		}

		&:nth-child(odd):last-child {
			grid-column: span 2;
		}
	}

	// .promo__tab-text
	&__tab-text {}

	// .promo__tab-icon
	&__tab-icon {
		width: 2.25rem;
		height: 2.25rem;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(rem(10));
		-webkit-backdrop-filter: blur(rem(10));

		& svg {
			width: 1.5rem;
			height: 1.5rem;

			@media (min-width: $md5) {
				width: 2rem;
				height: 2rem;
			}

			@media (min-width: $md3) {
				@media (max-height: 800px) {
					width: 1.5rem;
					height: 1.5rem;
				}
			}
		}

		@media (min-width: $md5) {
			width: 3rem;
			height: 3rem;
		}

		@media (min-width: $md3) {
			@media (max-height: 800px) {
				width: 2.25rem;
				height: 2.25rem;
			}
		}
	}

	// .promo__tab-border
	&__tab-border {
		position: absolute;
		inset: 0;
		z-index: 10;
		pointer-events: none;
		opacity: 0;
		transition: opacity 0.3s ease;

		rect {
			width: 100%;
			height: 100%;
			fill: none;
			stroke: #ff4405;
			stroke-width: 4;
			stroke-dashoffset: 0;
			transition: none;
		}
	}

	// .promo__form
	&__form {
		display: none;

		@media (min-width: $md3) {
			display: block;
			margin-top: 1.25rem;
			background: rgba(255, 255, 255, 0.3);
			backdrop-filter: blur(rem(21));
			-webkit-backdrop-filter: blur(rem(21));
			position: relative;
			z-index: $ui-index-1;
			padding: rem(24);

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background:
					linear-gradient(#fff, rgba(#fff, 0.2)) 0 0 / rem(1) 100% no-repeat,
					linear-gradient(#fff, rgba(#fff, 0.2)) 100% 0 / rem(1) 100% no-repeat,
					linear-gradient(rgba(#fff, 0.2), rgba(#fff, 0.2)) 0 100% / 100% rem(1) no-repeat,
					linear-gradient(#fff, #fff) 0 0 / 100% rem(1) no-repeat;
				z-index: -1;
			}
		}

		@media (min-width: $md0) {
			margin-top: 2.25rem;
			padding: rem(32);
		}
	}

	// .promo__form-header
	&__form-header {}

	// .promo__form-caption
	&__form-caption {}

	// .promo__form-text
	&__form-text {
		font-size: 1rem;
		line-height: 150%;
		max-width: rem(410);
		margin-top: 1.25rem;

		@media (min-width: $md3) {
			margin-top: 0.75rem;
		}

		@media (min-width: $md0) {
			margin-top: 1.25rem;
		}
	}

	// .promo__form-fields
	&__form-fields {
		display: flex;
		flex-direction: column;
		gap: rem(8);
		margin-top: 2rem;

		@media (min-width: $md3) {
			margin-top: 1rem;
		}

		@media (min-width: $md0) {
			margin-top: 2rem;
		}
	}

	// .promo__form-field
	&__form-field {}

	// .promo__form-footer
	&__form-footer {
		display: flex;
		flex-direction: column;
		text-align: center;
		margin-top: 1.25rem;
		gap: 0.75rem;

		@media (min-width: $md0) {
			gap: 1rem;
			margin-top: 2rem;
		}

		.form__policy a {
			color: #36bffa;
		}
	}

	// .promo__controls
	&__controls {
		display: flex;
		align-items: center;
		gap: 1.5rem;
		justify-content: space-between;

		@media (min-width:$md5) {
			justify-content: flex-start;

		}

		@media (min-width: $md3) {
			justify-content: flex-end;
		}
	}

	// .promo__pagination
	&__pagination {
		&.swiper-pagination.swiper-pagination-fraction {
			color: #a4a7ae;

			.swiper-pagination-current {
				color: #fff;
			}
		}
	}

	// .promo__controls-btns
	&__controls-btns {
		display: flex;
		gap: 0.375rem;
	}

	// .promo__prev
	&__prev {}

	// .promo__next
	&__next {}
}