@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

.promo {
	background: rgba($color: #000000, $alpha: 0.4);
	color: #fff;
	position: relative;
	z-index: $ui-index-1;
	display: flex;
	flex-direction: column-reverse;
	min-height: rem(650);
	@media (min-width: $md3) {
		flex-direction: column;
		padding: rem(100) 0 rem(40);
		min-height: rem(900);
	}
	@media (min-width: $md2) {
		min-height: rem(1000);
		padding: rem(200) 0 rem(80);
	}
	// .promo__actions
	&__actions {
		@media (min-width: $md3) {
			margin-top: auto;
		}
	}
	// .promo__slider
	&__slider {
		max-width: 100%;
		min-width: 0;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		& .swiper-wrapper {
			flex: 1 1 auto;
		}
		@media (min-width: $md3) {
			position: absolute;
			inset: 0;
			z-index: $ui-index-1;
		}
	}
	// .promo__slide
	&__slide {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		position: relative;
		z-index: $ui-index-1;
		padding: rem(340) 0 rem(28);
		height: auto;
		@media (min-width: $md3) {
			padding: rem(100) 0 rem(40);
		}
		@media (min-width: $md2) {
			padding: rem(200) 0 rem(80);
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba($color: #000000, $alpha: 0.4);
		}
		.container {
			width: 100%;
		}
	}
	// .promo__video
	&__video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
	}
	// .promo__offer
	&__offer {
		position: relative;
		z-index: $ui-index-2;
		@media (min-width: $md3) {
			max-width: 52rem;
			margin-right: rem(420);
		}
	}
	// .promo__title
	&__title {
	}
	// .promo__subtitle
	&__subtitle {
		margin-top: 1rem;
		line-height: 157.143%;
		font-size: 0.875rem;
		@media (min-width: $md5) {
			line-height: 130%;
			font-size: 1rem;
		}
		@media (min-width: $md3) {
			font-size: 1.25rem;
		}
	}
	// .promo__btns
	&__btns {
		gap: 0.75rem;
		display: grid;
		margin-top: 1rem;
		grid-template-columns: repeat(2, 1fr);
		@media (min-width: $md5) {
			margin-top: 3rem;
			display: flex;
			flex-wrap: wrap;
		}
	}
	// .promo__side
	&__side {
		position: relative;
		z-index: $ui-index-2;
		padding-top: rem(56);
		@media (min-width: $md3) {
			padding-top: 0;
			width: rem(402);
			margin-left: auto;
		}
	}
	// .promo__tabs
	&__tabs {
		display: grid;
		gap: 0.5rem;
		grid-template-columns: repeat(2, 1fr);
		padding: 1rem 0;
		margin-bottom: -100%;
		@media (min-width: $md3) {
			margin-bottom: 0;
			padding: 0;
		}
	}
	// .promo__tab-btn
	&__tab-btn {
		position: relative;
		display: flex;
		justify-content: space-between;
		text-align: left;
		align-items: center;
		gap: 0.625rem;
		padding: 0.25rem 0.25rem 0.25rem 0.75rem;
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1rem;
			padding: 0.375rem 0.375rem 0.375rem 0.875rem;
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
			border: rem(1) solid #fff;
		}
		&.active {
			background: #fff;
			color: #181d27;
			.promo__tab-icon {
				background: #181d27;
				& svg {
					path {
						stroke: #ff4405;
					}
				}
			}

			&.counting {
				.promo__tab-border {
					opacity: 1;
				}
				.promo__tab-border rect {
					stroke-dashoffset: 0 !important;
					transition: stroke-dashoffset var(--counting-speed) linear;
				}
			}
			&:not(.counting) {
				.promo__tab-border rect {
					stroke-dashoffset: 0 !important;
				}
			}
		}
		&:nth-child(odd):last-child {
			grid-column: span 2;
		}
	}
	// .promo__tab-text
	&__tab-text {
	}
	// .promo__tab-icon
	&__tab-icon {
		width: 2.25rem;
		height: 2.25rem;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(rem(10));
		-webkit-backdrop-filter: blur(rem(10));
		& svg {
			width: 1.5rem;
			height: 1.5rem;
			@media (min-width: $md5) {
				width: 2rem;
				height: 2rem;
			}
		}
		@media (min-width: $md5) {
			width: 3rem;
			height: 3rem;
		}
	}
	// .promo__tab-border
	&__tab-border {
		position: absolute;
		inset: 0;
		z-index: 10;
		pointer-events: none;
		opacity: 0;
		transition: opacity 0.3s ease;

		rect {
			width: 100%;
			height: 100%;
			fill: none;
			stroke: #ff4405;
			stroke-width: 4;
			stroke-dashoffset: 0;
			transition: none;
		}
	}
	// .promo__form
	&__form {
		display: none;
		@media (min-width: $md3) {
			display: block;
			margin-top: 2.25rem;
			background: rgba(255, 255, 255, 0.3);
			backdrop-filter: blur(rem(21));
			-webkit-backdrop-filter: blur(rem(21));
			position: relative;
			z-index: $ui-index-1;
			padding: rem(32);
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background:
					linear-gradient(#fff, rgba(#fff, 0.2)) 0 0 / rem(1) 100% no-repeat,
					linear-gradient(#fff, rgba(#fff, 0.2)) 100% 0 / rem(1) 100% no-repeat,
					linear-gradient(rgba(#fff, 0.2), rgba(#fff, 0.2)) 0 100% / 100% rem(1) no-repeat,
					linear-gradient(#fff, #fff) 0 0 / 100% rem(1) no-repeat;
				z-index: -1;
			}
		}
	}
	// .promo__form-header
	&__form-header {
	}
	// .promo__form-caption
	&__form-caption {
	}
	// .promo__form-text
	&__form-text {
		margin-top: 1.25rem;
		font-size: 1rem;
		line-height: 150%;
		max-width: rem(410);
	}
	// .promo__form-fields
	&__form-fields {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		gap: rem(8);
	}
	// .promo__form-field
	&__form-field {
	}
	// .promo__form-footer
	&__form-footer {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		text-align: center;
		.form__policy a {
			color: #36bffa;
		}
	}
}

.cases {
	// .cases__header
	&__header {
		max-width: 40rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 1rem;
		margin: 0 auto;
	}
	// .cases__hint
	&__hint {
	}
	// .cases__title
	&__title {
	}
	// .cases__subtitle
	&__subtitle {
	}
	// .cases__list
	&__list {
		margin-top: 4rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	// .cases__item
	&__item {
	}
	// .cases__more
	&__more {
		margin-top: 1.5rem;
		width: 100%;
	}
}

.case-card {
	position: relative;
	display: block;
	background: rgba(24, 29, 39, 0.86);
	color: #fff;
	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 9.375rem;
		background: linear-gradient(0deg, #ff4405 0%, rgba(0, 0, 0, 0) 100%);
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease;
	}
	@media (any-hover: hover) {
		&:hover {
			&::before {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	// .case-card__image
	&__image {
		display: block;
		aspect-ratio: math.div(544, 328);
	}
	// .case-card__content
	&__content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	// .case-card__labels
	&__labels {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		padding: 1rem;
	}
	// .case-card__label
	&__label {
		background: #fff;
		color: #181d27;
		font-size: 0.875rem;
		letter-spacing: -0.00875rem;
		text-transform: uppercase;
		padding: 0.375rem 0.5rem;
		border-radius: 2.5rem;
	}
	// .case-card__footer
	&__footer {
		display: flex;
		flex-direction: column;
		padding: 0.75rem 1rem;
	}
	// .case-card__name
	&__name {
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 120%;
		letter-spacing: -0.0125rem;
	}
	// .case-card__client
	&__client {
		margin-top: 0.38rem;
		font-size: 0.875rem;
		line-height: 157.143%;
		letter-spacing: -0.00875rem;
		display: flex;
	}
	// .case-card__client-caption
	&__client-caption {
		font-weight: 600;
	}
	// .case-card__client-details
	&__client-details {
		text-overflow: ellipsis;
		white-space: nowrap;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		overflow: hidden;
	}
}

.about {
	// .about__body
	&__body {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.25rem;
	}
	// .about__image
	&__image {
		max-width: rem(740);
	}
	// .about__content
	&__content {
		display: flex;
		flex-direction: column;
		padding: 3rem 0 1.69rem;
	}
	// .about__hint
	&__hint {
	}
	// .about__title
	&__title {
		margin-top: 0.875rem;
		&.title {
			@media (min-width: $md1) {
				font-size: 3.25rem;
			}
		}
	}
	// .about__tabs
	&__tabs {
		margin-top: 2.5rem;
		display: flex;
		flex-wrap: wrap;
		gap: 0.625rem;
		padding: 0.375rem 0;
	}
	// .about__tab
	&__tab {
		&.active {
			background: #535862;
			color: #fff;
		}
	}
	// .about__text
	&__text {
		margin-top: 2.25rem;
		&.typography-block {
			font-size: 1.25rem;
		}
	}
	// .about__btn
	&__btn {
		margin-top: 2.5rem;
		align-self: flex-start;
	}
}
