@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

.policy {
	padding-top: 1.75rem !important;
	// .policy__content
	&__content {
		display: flex;
		gap: 1.5rem;
		flex-direction: column-reverse;
		@media (min-width: $md3) {
			justify-content: space-between;
			align-items: flex-start;
			flex-direction: row;
		}
	}
	// .policy__text
	&__text {
		flex: 0 1 rem(1112);
		&.typography-block {
			h2 {
				&.wp-block-heading {
					color: #1570ef;
					font-family: Inter;
					font-size: 1.5rem;
					font-weight: 500;
					line-height: 133.333%;
				}
			}
			& h3,
			& h4,
			& h5,
			& h6 {
				&.wp-block-heading {
					font-size: 1em;
					font-weight: 700;
				}
			}
		}
	}
	// .policy__side
	&__side {
	}
	// .policy__menu
	&__menu {
	}
}

.sidebar {
	background: #fff;
	padding: 0.25rem;
	border-radius: 0.5rem;
	border: rem(1) solid #e9eaeb;

	@media (min-width: $md3) {
		position: sticky;
		flex: 0 0 20rem;
		top: 5.5rem;
	}
	@media (min-width: $md2) {
		top: 7.5rem;
		flex: 0 0 rem(330);
	}
	// .sidebar__list
	&__list {
		border-radius: 0.5rem;

		display: flex;
		flex-direction: column;
		gap: 0.2rem;
		padding: rem(6);
		.menu-item {
			a {
				line-height: 150%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 0.5rem;
				border-radius: 0.375rem;
				transition:
					background-color 0.3s ease,
					color 0.3s ease;
				padding: 0.625rem 0.75rem;
				font-size: 1rem;
				&::before {
					order: 1;
					width: 1.25rem;
					height: 1.25rem;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-shrink: 0;
					color: #a4a7ae;
					@extend %ic, .icon-chevron-right;
				}
				&[aria-current="page"] {
					background: #f5f5f5;
					color: #181d27;
					&::before {
						color: #535862;
					}
				}
				@media (any-hover: hover) {
					&:hover {
						background: #f5f5f5;
						color: #181d27;
						&::before {
							color: #535862;
						}
					}
				}
			}
		}
	}
}
