@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

.other-services {
	// .other-services__title
	&__title {
	}
	// .other-services__grid
	&__grid {
		margin-top: rem(18);
		display: grid;
		border-top: rem(1) solid #d5d7da;
		border-left: rem(1) solid #d5d7da;
		column-gap: rem(2);
		border-right: rem(1) solid #d5d7da;
		@media (min-width: $md5) {
			border-right: 0;
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md3) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (min-width: $md1) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
	// .other-services__item
	&__item {
		display: flex;
		align-items: center;
		color: #535862;

		line-height: 120%;
		border-bottom: rem(1) solid #d5d7da;
		justify-content: space-between;
		padding: em(1.5, 1.25) em(12, 20) em(1.5, 1.25) em(18, 20);
		@media (min-width: $md3) {
			padding: 1.5rem rem(12) 1.5rem rem(18);
			font-size: 1.25rem;
		}

		@media (max-width: $md3) {
			@media (min-width: $md5) {
				&:nth-child(2n + 2) {
					border-right: rem(1) solid #d5d7da;
				}
			}
		}
		@media (max-width: $md1) {
			@media (min-width: $md3) {
				&:nth-child(3n + 3) {
					border-right: rem(1) solid #d5d7da;
				}
			}
		}
		@media (min-width: $md1) {
			&:nth-child(4n + 4) {
				border-right: rem(1) solid #d5d7da;
			}
		}
		@media (min-width: $md5) {
			&:last-child {
				border-right: rem(1) solid #d5d7da;
			}
		}
		&::before {
			order: 1;
			color: #a4a7ae;
		}
	}
}

.cards-block {
	&__content {
		display: grid;
		gap: rem(18);
		margin-top: rem(18);
		@media (min-width: $md5) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md3) {
			margin-top: rem(24);
			gap: rem(24);
			grid-template-columns: repeat(3, 1fr);
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(12, 1fr);
		}
		@media (min-width: $md0) {
			grid-template-columns: repeat(15, 1fr);
		}
	}

	&__column {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background: #f5f5f5;
		position: relative;
		min-height: rem(220);
		padding: 1.25rem;
		@media (min-width: $md4) {
			min-height: rem(270);
			padding: 1.5rem;
		}
		&--span-3 {
			@media (min-width: $md2) {
				grid-column: span 3;
			}
		}

		&--span-5 {
			@media (min-width: $md2) {
				grid-column: span 3;
			}
			@media (min-width: $md0) {
				grid-column: span 5;
			}
		}
	}

	&__icon {
		width: 3rem;
		height: 3rem;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 2rem;
		background: #fff;

		svg {
			width: 2.25rem;
			object-fit: contain;
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.875rem;
	}

	&__text {
		color: #181d27;
		font-weight: 700;
		line-height: 109.091%;
		font-size: 1.125rem;
		@media (min-width: $md4) {
			font-size: 1.25rem;
		}
		@media (min-width: $md1) {
			font-size: 1.375rem;
		}
	}

	&__tooltip {
		cursor: pointer;
		color: #535862;
		flex-shrink: 0;
		width: 1.125rem;
		height: 1.125rem;
		font-size: 1.125rem;
		@media (min-width: $md4) {
			width: 1.25rem;
			height: 1.25rem;
			font-size: 1.25rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
}
