@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

.services {
	padding-top: rem(48) !important;
	// .services__desc
	&__desc {
		font-size: 1.375rem;
		line-height: 136.364%;
		max-width: 70rem;
		letter-spacing: em(0.4, 22);
		& strong {
			font-weight: 600;
		}
	}
	// .services__grid
	&__grid {
		margin-top: 2rem;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 0.75rem;
	}
}

.service-card {
	display: flex;
	flex-direction: column;
	position: relative;
	border-radius: 0 2.25rem;
	overflow: hidden;
	height: 26.25rem;
	background: #414651;
	color: #fff;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 0 2.25rem;
		transition: opacity 0.3s ease;
		z-index: 1;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 71.84%, rgba(0, 0, 0, 0.6) 100%);
	}
	@media (any-hover: hover) {
		&:hover {
			.service-card__image {
				opacity: 0;
			}
			&::before {
				opacity: 0;
			}
			.service-card__number {
				color: $accent;
			}
			.service-card__desc {
				margin-top: 1rem;
				opacity: 1;
				visibility: visible;
				& span {
					margin-bottom: 0;
				}
			}
			.service-card__footer {
				margin-top: 1rem;
				opacity: 1;
				visibility: visible;
				height: 2.75rem;
			}
			.service-card__btn {
				margin-bottom: 0;
			}
		}
	}

	// .service-card__image
	&__image {
		transition: opacity 0.3s ease;
		height: 100%;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// .service-card__content
	&__content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		display: flex;
		flex-direction: column;
		padding: 1.5rem;
	}
	// .service-card__name
	&__name {
		font-family: $font-gilroy;
		font-size: 1.625rem;
		font-weight: 700;
		line-height: 107.692%;
		max-width: 16rem;
	}
	// .service-card__number
	&__number {
		font-family: $font-gilroy;
		font-size: 2rem;
		font-weight: 700;
		line-height: 1;
		transition: color 0.3s ease;
		margin-bottom: auto;
	}
	// .service-card__desc
	&__desc {
		margin: 0;
		opacity: 0;
		visibility: hidden;
		overflow: hidden;
		text-overflow: ellipsis;
		transition: margin 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
		& span {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 4;
			margin-bottom: -100%;
		}
	}
	// .service-card__footer
	&__footer {
		margin-top: 0;
		opacity: 0;
		visibility: hidden;
		height: 0;
		transition: all 0.3s ease;
	}
	// .service-card__btn
	&__btn {
		margin-bottom: -100%;
		width: 100%;
		transition: margin 0.3s ease;
	}
}
