@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

.other-services {
	// .other-services__title
	&__title {
	}
	// .other-services__grid
	&__grid {
		margin-top: rem(18);
		display: grid;
		border-top: rem(1) solid #d5d7da;
		border-left: rem(1) solid #d5d7da;
		column-gap: rem(2);
		border-right: rem(1) solid #d5d7da;
		@media (min-width: $md5) {
			border-right: 0;
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md3) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (min-width: $md1) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
	// .other-services__item
	&__item {
		display: flex;
		align-items: center;
		color: #535862;

		line-height: 120%;
		border-bottom: rem(1) solid #d5d7da;
		justify-content: space-between;
		padding: em(1.5, 1.25) em(12, 20) em(1.5, 1.25) em(18, 20);
		@media (min-width: $md3) {
			padding: 1.5rem rem(12) 1.5rem rem(18);
			font-size: 1.25rem;
		}

		@media (max-width: $md3) {
			@media (min-width: $md5) {
				&:nth-child(2n + 2) {
					border-right: rem(1) solid #d5d7da;
				}
			}
		}
		@media (max-width: $md1) {
			@media (min-width: $md3) {
				&:nth-child(3n + 3) {
					border-right: rem(1) solid #d5d7da;
				}
			}
		}
		@media (min-width: $md1) {
			&:nth-child(4n + 4) {
				border-right: rem(1) solid #d5d7da;
			}
		}
		@media (min-width: $md5) {
			&:last-child {
				border-right: rem(1) solid #d5d7da;
			}
		}
		&::before {
			order: 1;
			color: #a4a7ae;
		}
	}
}

.cards-block {
	&__content {
		display: grid;
		gap: rem(18);
		margin-top: rem(18);
		@media (min-width: $md5) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md3) {
			margin-top: rem(24);
			gap: rem(24);
			grid-template-columns: repeat(3, 1fr);
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(12, 1fr);
		}
		@media (min-width: $md0) {
			grid-template-columns: repeat(15, 1fr);
		}
	}

	&__column {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background: #f5f5f5;
		position: relative;
		min-height: rem(220);
		padding: 1.25rem;
		@media (min-width: $md4) {
			min-height: rem(270);
			padding: 1.5rem;
		}
		&--span-3 {
			@media (min-width: $md2) {
				grid-column: span 3;
			}
		}

		&--span-5 {
			@media (min-width: $md2) {
				grid-column: span 3;
			}
			@media (min-width: $md0) {
				grid-column: span 5;
			}
		}
	}

	&__icon {
		width: 3rem;
		height: 3rem;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 2rem;
		background: #fff;

		svg {
			width: 2.25rem;
			object-fit: contain;
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.875rem;
	}

	&__text {
		color: #181d27;
		font-weight: 700;
		line-height: 109.091%;
		font-size: 1.125rem;
		@media (min-width: $md4) {
			font-size: 1.25rem;
		}
		@media (min-width: $md1) {
			font-size: 1.375rem;
		}
	}

	&__tooltip {
		cursor: pointer;
		color: #535862;
		flex-shrink: 0;
		width: 1.125rem;
		height: 1.125rem;
		font-size: 1.125rem;
		@media (min-width: $md4) {
			width: 1.25rem;
			height: 1.25rem;
			font-size: 1.25rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
}

.how-we-work {
	&__header {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		@media (min-width: $md4) {
			max-width: 45rem;
			align-items: center;
			text-align: center;
			gap: 0.875rem;
			margin: 0 auto;
		}
	}

	&__list {
		margin-top: 4.5rem;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 3.5rem;
		counter-reset: work-counter;
	}

	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		counter-increment: work-counter;
		&:nth-child(even) {
			margin-top: rem(30);
			&::after {
				top: -0.31rem;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='208' height='49' viewBox='0 0 208 49' fill='none'%3E%3Cpath d='M206.77 9.7809C207.448 9.37022 207.562 8.56571 207.023 7.98328L200.534 0.962593L198.077 2.44934L203.592 8.41517L196.641 12.623L198.591 14.7314L206.77 9.7809Z' fill='%23FF4405'/%3E%3Cpath d='M163.256 3.93697C166.86 4.24025 170.518 4.62131 174.229 5.08408C175.051 5.18642 175.801 4.60277 175.903 3.78082C176.005 2.95897 175.422 2.2092 174.6 2.10669C170.85 1.63897 167.152 1.2544 163.508 0.947769C162.683 0.878536 161.957 1.49155 161.887 2.31668C161.818 3.14191 162.431 3.86716 163.256 3.93697Z' fill='%23FF4405'/%3E%3Cpath d='M196 8.65844C196.811 8.82324 197.602 8.2993 197.768 7.48774C197.932 6.67609 197.409 5.88396 196.597 5.71892C192.898 4.96682 189.243 4.29576 185.634 3.70241C184.817 3.56828 184.045 4.1224 183.911 4.93946C183.776 5.75673 184.331 6.52785 185.148 6.66246C188.719 7.2497 192.337 7.91382 196 8.65844Z' fill='%23FF4405'/%3E%3Cpath d='M141.222 3.00008C144.834 3.00113 148.51 3.07894 152.248 3.23849C153.075 3.27377 153.775 2.63076 153.81 1.80312C153.845 0.975933 153.203 0.276138 152.376 0.240662C148.596 0.0792961 144.877 0.00118256 141.223 0.000114441C140.395 6.10352e-05 139.723 0.671608 139.722 1.49947C139.722 2.32777 140.393 2.99964 141.222 3.00008Z' fill='%23FF4405'/%3E%3Cpath d='M117.585 2.58768C117.658 3.41285 118.386 4.02322 119.211 3.95121C122.799 3.63732 126.463 3.39582 130.201 3.23481C131.029 3.19916 131.67 2.49942 131.635 1.67176C131.598 0.844482 130.899 0.202469 130.071 0.23811C126.289 0.401039 122.581 0.644756 118.949 0.962463C118.124 1.03477 117.514 1.76278 117.585 2.58768Z' fill='%23FF4405'/%3E%3Cpath d='M95.6076 5.65206C95.7543 6.46732 96.5349 7.00906 97.3501 6.86251C100.898 6.22406 104.539 5.65247 108.268 5.15656C109.089 5.04722 109.666 4.29264 109.557 3.47153C109.448 2.65066 108.693 2.07323 107.872 2.18241C104.097 2.68445 100.412 3.26424 96.8189 3.91068C96.004 4.05745 95.4614 4.83707 95.6076 5.65206Z' fill='%23FF4405'/%3E%3Cpath d='M74.0438 10.7168C74.2656 11.5147 75.0927 11.9819 75.8907 11.7605C79.3302 10.8044 82.8826 9.90225 86.5445 9.06656C87.3522 8.88224 87.8571 8.07773 87.6728 7.27007C87.4883 6.4629 86.6848 5.95696 85.8775 6.14093C82.1691 6.98723 78.5713 7.90152 75.0875 8.86989C74.2898 9.09182 73.8224 9.91893 74.0438 10.7168Z' fill='%23FF4405'/%3E%3Cpath d='M53.0251 17.8033C53.3221 18.5766 54.1903 18.9626 54.9636 18.6656C58.2665 17.3968 61.7161 16.1604 65.3094 14.9745C66.0961 14.7149 66.5239 13.8663 66.2642 13.0796C66.0043 12.2934 65.1556 11.8662 64.3692 12.1258C60.729 13.3271 57.2339 14.58 53.8873 15.8657C53.1145 16.1628 52.7286 17.0303 53.0251 17.8033Z' fill='%23FF4405'/%3E%3Cpath d='M32.7626 26.9246C33.1353 27.6642 34.0366 27.9619 34.7763 27.5895C37.8866 26.0227 41.2122 24.4427 44.747 22.8809C45.5044 22.5459 45.8471 21.6606 45.5123 20.903C45.1773 20.1457 44.292 19.803 43.5344 20.1377C39.9518 21.7206 36.5806 23.3209 33.4266 24.9097C32.6871 25.2824 32.3903 26.1849 32.7626 26.9246Z' fill='%23FF4405'/%3E%3Cpath d='M13.6311 38.0814C14.0835 38.7754 15.0134 38.9717 15.7074 38.5194C18.4253 36.7477 21.5507 34.8168 25.073 32.8013C25.792 32.3898 26.0415 31.4736 25.6301 30.7546C25.2185 30.036 24.3022 29.7863 23.5833 30.1975C20.0083 32.2431 16.833 34.2042 14.0689 36.006C13.3753 36.4582 13.1795 37.3875 13.6311 38.0814Z' fill='%23FF4405'/%3E%3Cpath d='M0.381967 48.1027C0.934272 48.7198 1.88131 48.772 2.49866 48.2199C2.49897 48.2197 2.50072 48.2202 2.50169 48.2194C2.50367 48.2176 2.50718 48.2141 2.5119 48.21C2.52146 48.2015 2.53647 48.188 2.55699 48.17C2.59846 48.1336 2.66218 48.0777 2.74812 48.0037C2.92047 47.8551 3.18235 47.6324 3.53172 47.343C4.23085 46.7638 5.28232 45.9156 6.67799 44.8539C7.3373 44.3524 7.46531 43.4115 6.96375 42.7521C6.46208 42.0933 5.5211 41.965 4.86197 42.4664C3.43175 43.5544 2.34775 44.4279 1.61805 45.0324C1.25325 45.3346 0.977386 45.5703 0.7906 45.7313C0.697261 45.8117 0.625632 45.8735 0.577125 45.9161C0.553032 45.9373 0.533805 45.9539 0.520861 45.9654C0.514622 45.9709 0.509687 45.9759 0.506106 45.9791C0.504464 45.9805 0.502761 45.9815 0.501693 45.9824L0.500453 45.9842C0.500362 45.9843 0.499752 45.9851 1.49949 47.1026L0.499349 45.985C-0.117723 46.5373 -0.169905 47.4853 0.381967 48.1027Z' fill='%23FF4405'/%3E%3C/svg%3E");
			}
		}
		&::before {
			content: "0" counter(work-counter);
			display: flex;
			width: 5rem;
			height: 5rem;
			padding: 1.5625rem 1.5rem;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 0.625rem;
			color: #717680;
			text-align: center;
			font-size: 2.25rem;
			font-weight: 700;
			border-radius: 0.625rem 0;
			background: #f5f5f5;
		}
		&::after {
			content: "";
			position: absolute;
			top: 1.51rem;
			left: 7rem;
			width: rem(208);
			height: rem(49);
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='208' height='49' viewBox='0 0 208 49' fill='none'%3E%3Cpath d='M206.77 38.8212C207.448 39.2318 207.562 40.0363 207.023 40.6188L200.534 47.6395L198.077 46.1527L203.592 40.1869L196.641 35.9791L198.591 33.8706L206.77 38.8212Z' fill='%23FF4405'/%3E%3Cpath d='M163.256 44.6651C166.86 44.3618 170.518 43.9807 174.229 43.518C175.051 43.4156 175.801 43.9993 175.903 44.8212C176.005 45.6431 175.422 46.3928 174.6 46.4954C170.85 46.9631 167.152 47.3477 163.508 47.6543C162.683 47.7235 161.957 47.1105 161.887 46.2854C161.818 45.4601 162.431 44.7349 163.256 44.6651Z' fill='%23FF4405'/%3E%3Cpath d='M196 39.9436C196.811 39.7788 197.602 40.3027 197.768 41.1143C197.932 41.926 197.409 42.7181 196.597 42.8831C192.898 43.6352 189.243 44.3063 185.634 44.8996C184.817 45.0338 184.045 44.4796 183.911 43.6626C183.776 42.8453 184.331 42.0742 185.148 41.9396C188.719 41.3523 192.337 40.6882 196 39.9436Z' fill='%23FF4405'/%3E%3Cpath d='M141.222 45.602C144.834 45.6009 148.51 45.5231 152.248 45.3636C153.075 45.3283 153.775 45.9713 153.81 46.7989C153.845 47.6261 153.203 48.3259 152.376 48.3614C148.596 48.5228 144.877 48.6009 141.223 48.6019C140.395 48.602 139.723 47.9304 139.722 47.1026C139.722 46.2743 140.393 45.6024 141.222 45.602Z' fill='%23FF4405'/%3E%3Cpath d='M117.585 46.0144C117.658 45.1892 118.386 44.5788 119.211 44.6508C122.799 44.9647 126.463 45.2062 130.201 45.3672C131.029 45.4029 131.67 46.1026 131.635 46.9303C131.598 47.7576 130.899 48.3996 130.071 48.3639C126.289 48.201 122.581 47.9573 118.949 47.6396C118.124 47.5673 117.514 46.8393 117.585 46.0144Z' fill='%23FF4405'/%3E%3Cpath d='M95.6076 42.95C95.7543 42.1347 96.5349 41.593 97.3501 41.7395C100.898 42.378 104.539 42.9496 108.268 43.4455C109.089 43.5548 109.666 44.3094 109.557 45.1305C109.448 45.9514 108.693 46.5288 107.872 46.4196C104.097 45.9176 100.412 45.3378 96.8189 44.6914C96.004 44.5446 95.4614 43.765 95.6076 42.95Z' fill='%23FF4405'/%3E%3Cpath d='M74.0438 37.8853C74.2656 37.0873 75.0927 36.6201 75.8907 36.8416C79.3302 37.7976 82.8826 38.6998 86.5445 39.5355C87.3522 39.7198 87.8571 40.5243 87.6728 41.332C87.4883 42.1391 86.6848 42.6451 85.8775 42.4611C82.1691 41.6148 78.5713 40.7005 75.0875 39.7322C74.2898 39.5102 73.8224 38.6831 74.0438 37.8853Z' fill='%23FF4405'/%3E%3Cpath d='M53.0251 30.7988C53.3221 30.0255 54.1903 29.6394 54.9636 29.9364C58.2665 31.2053 61.7161 32.4416 65.3094 33.6275C66.0961 33.8871 66.5239 34.7357 66.2642 35.5224C66.0043 36.3087 65.1556 36.7358 64.3692 36.4763C60.729 35.2749 57.2339 34.022 53.8873 32.7364C53.1145 32.4393 52.7286 31.5718 53.0251 30.7988Z' fill='%23FF4405'/%3E%3Cpath d='M32.7626 21.6774C33.1353 20.9378 34.0366 20.6402 34.7763 21.0126C37.8866 22.5794 41.2122 24.1594 44.747 25.7212C45.5044 26.0561 45.8471 26.9415 45.5123 27.699C45.1773 28.4564 44.292 28.799 43.5344 28.4644C39.9518 26.8815 36.5806 25.2811 33.4266 23.6923C32.6871 23.3196 32.3903 22.4171 32.7626 21.6774Z' fill='%23FF4405'/%3E%3Cpath d='M13.6311 10.5207C14.0835 9.82669 15.0134 9.63031 15.7074 10.0827C18.4253 11.8544 21.5507 13.7853 25.073 15.8008C25.792 16.2122 26.0415 17.1285 25.6301 17.8475C25.2185 18.566 24.3022 18.8157 23.5833 18.4046C20.0083 16.3589 16.833 14.3979 14.0689 12.5961C13.3753 12.1439 13.1795 11.2146 13.6311 10.5207Z' fill='%23FF4405'/%3E%3Cpath d='M0.381967 0.499361C0.934272 -0.11777 1.88131 -0.169925 2.49866 0.382115C2.49897 0.382339 2.50072 0.38181 2.50169 0.382673C2.50367 0.384442 2.50718 0.387901 2.5119 0.392082C2.52146 0.400563 2.53647 0.414049 2.55699 0.432071C2.59846 0.468487 2.66218 0.524336 2.74812 0.598401C2.92047 0.746917 3.18235 0.969623 3.53172 1.25906C4.23085 1.83823 5.28232 2.68642 6.67799 3.74812C7.3373 4.24969 7.46531 5.19058 6.96375 5.8499C6.46208 6.5087 5.5211 6.63705 4.86197 6.13566C3.43175 5.04768 2.34775 4.17414 1.61805 3.56965C1.25325 3.26743 0.977386 3.03176 0.7906 2.8708C0.697261 2.79037 0.625632 2.72853 0.577125 2.68593C0.553032 2.66477 0.533805 2.64814 0.520861 2.63667C0.514622 2.63113 0.509687 2.62616 0.506106 2.62297C0.504464 2.6215 0.502761 2.62058 0.501693 2.61965L0.500453 2.61785C0.500362 2.61777 0.499752 2.61694 1.49949 1.4995L0.499349 2.61702C-0.117723 2.06477 -0.169905 1.11671 0.381967 0.499361Z' fill='%23FF4405'/%3E%3C/svg%3E");
		}
		&:last-child {
			&::after {
				display: none;
			}
		}
	}

	&__caption {
		margin-top: 1.5rem;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 1.875rem;
		color: #414651;
	}

	&__desc {
		margin-top: 0.875rem;
		color: #535862;
		font-size: 1rem;
		line-height: 150%;
	}
}
