@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

.services {
	&.services-page {
		padding-top: rem(48) !important;
	}
	// .services__wrapper
	&__wrapper {
		background: url("@img/services-bg.png") center / cover no-repeat;
	}
	// .services__desc
	&__desc {
		font-size: 1.375rem;
		line-height: 136.364%;
		max-width: 70rem;
		letter-spacing: em(0.4, 22);
		& strong {
			font-weight: 600;
		}
	}
	// .services__grid
	&__grid {
		margin-top: 2rem;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 0.75rem;
	}
	// .services__header
	&__header {
		max-width: 32rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 1rem;
		margin: 0 auto;
	}
	// .services__hint
	&__hint {
	}
	// .services__title
	&__title {
	}
	// .services__subtitle
	&__subtitle {
	}
	// .services__content
	&__content {
		margin-top: 1.25rem;
		display: grid;
		justify-content: space-between;
		grid-template-columns: 28.75rem 34rem 28.75rem;
	}
	// .services__column
	&__column {
	}
	// .services__items
	&__items {
	}
	// .services__item
	&__item {
		display: flex;
		flex-direction: column;
		text-align: left;
		border: rem(1) solid transparent;

		padding: 1.5rem;
		transition: all 0.3s ease;
		&.active {
			.services__item-caption {
				color: $accent;
				&::before {
					color: $accent;
				}
			}
		}
		@media (any-hover: hover) {
			&:hover {
				border: rem(1) solid #eee;
				background: rgba(255, 255, 255, 0.2);
				backdrop-filter: blur(rem(4));
				-webkit-backdrop-filter: blur(rem(4));
				.services__item-caption {
					color: $accent;
					&::before {
						color: $accent;
					}
				}
			}
		}
	}
	// .services__item-caption
	&__item-caption {
		font-family: $font-gilroy;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 120%;
		display: flex;
		align-items: center;
		gap: 0.75rem;
		transition: color 0.3s ease;
		&.icon-arrow-right {
			justify-content: space-between;
			&::before {
				order: 1;
			}
		}
		&.icon-arrow-left {
			justify-content: flex-start;
		}
		&::before {
			width: 1.5rem;
			height: 1.5rem;
			flex-shrink: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #a4a7ae;
			transition: color 0.3s ease;
		}
	}
	// .services__item-desc
	&__item-desc {
		margin-top: 1rem;
		font-size: 1rem;
		line-height: 125%;
	}
	// .services__btn
	&__btn {
		margin-top: rem(31);
		margin-left: rem(24);
	}
	// .services__projects
	&__projects {
		width: 34rem;
	}
	// .services__project
	&__project {
		position: relative;
		display: none;
		&.active {
			display: block;
		}
	}
	// .services__project-image
	&__project-image {
	}
	// .services__project-info
	&__project-info {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		text-align: center;
		padding: rem(18);
		background: rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(rem(14));
		gap: 0.75rem;
	}
	// .services__project-name
	&__project-name {
		font-family: $font-gilroy;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 120%;
		letter-spacing: -0.045rem;
	}
	// .services__project-desc
	&__project-desc {
		font-size: 1.375rem;
		line-height: 136.364%;
	}
	// .services__project-btn
	&__project-btn {
		margin-top: 0.75rem;
	}
}

.service-card {
	display: flex;
	flex-direction: column;
	position: relative;
	border-radius: 0 2.25rem;
	overflow: hidden;
	height: 26.25rem;
	background: #414651;
	color: #fff;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 0 2.25rem;
		transition: opacity 0.3s ease;
		z-index: 1;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 71.84%, rgba(0, 0, 0, 0.6) 100%);
	}
	@media (any-hover: hover) {
		&:hover {
			.service-card__image {
				opacity: 0;
			}
			&::before {
				opacity: 0;
			}
			.service-card__number {
				color: $accent;
			}
			.service-card__desc {
				margin-top: 1rem;
				opacity: 1;
				visibility: visible;
				& span {
					margin-bottom: 0;
				}
			}
			.service-card__footer {
				margin-top: 1rem;
				opacity: 1;
				visibility: visible;
				height: 2.75rem;
			}
			.service-card__btn {
				margin-bottom: 0;
			}
		}
	}

	// .service-card__image
	&__image {
		transition: opacity 0.3s ease;
		height: 100%;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// .service-card__content
	&__content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		display: flex;
		flex-direction: column;
		padding: 1.5rem;
	}
	// .service-card__name
	&__name {
		font-family: $font-gilroy;
		font-size: 1.625rem;
		font-weight: 700;
		line-height: 107.692%;
		max-width: 16rem;
	}
	// .service-card__number
	&__number {
		font-family: $font-gilroy;
		font-size: 2rem;
		font-weight: 700;
		line-height: 1;
		transition: color 0.3s ease;
		margin-bottom: auto;
	}
	// .service-card__desc
	&__desc {
		margin: 0;
		opacity: 0;
		visibility: hidden;
		overflow: hidden;
		text-overflow: ellipsis;
		transition: margin 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
		& span {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 4;
			margin-bottom: -100%;
		}
	}
	// .service-card__footer
	&__footer {
		margin-top: 0;
		opacity: 0;
		visibility: hidden;
		height: 0;
		transition: all 0.3s ease;
	}
	// .service-card__btn
	&__btn {
		margin-bottom: -100%;
		width: 100%;
		transition: margin 0.3s ease;
	}
}
