@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?nrzh8g');
  src:  url('fonts/icons.eot?nrzh8g#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?nrzh8g') format('truetype'),
    url('fonts/icons.woff?nrzh8g') format('woff'),
    url('fonts/icons.svg?nrzh8g#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: "\e913";
}
.icon-eye:before {
  content: "\e912";
}
.icon-cross:before {
  content: "\e90b";
}
.icon-dislike:before {
  content: "\e910";
}
.icon-like:before {
  content: "\e911";
}
.icon-copy:before {
  content: "\e90f";
}
.icon-clock:before {
  content: "\e90c";
}
.icon-calendar:before {
  content: "\e90d";
}
.icon-clip:before {
  content: "\e907";
}
.icon-chevron-right:before {
  content: "\e905";
}
.icon-home:before {
  content: "\e906";
}
.icon-check:before {
  content: "\e90e";
}
.icon-search:before {
  content: "\e90a";
}
.icon-arrow-left:before {
  content: "\e908";
}
.icon-arrow-right:before {
  content: "\e909";
}
.icon-minus:before {
  content: "\e903";
}
.icon-plus:before {
  content: "\e904";
}
.icon-arrow-up-right:before {
  content: "\e902";
}
.icon-chevron-down:before {
  content: "\e900";
}
.icon-phone-incoming:before {
  content: "\e901";
}
