@font-face {
  font-family: 'icons';
  src: url('fonts/icons.eot?9i031b');
  src: url('fonts/icons.eot?9i031b#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?9i031b') format('truetype'),
    url('fonts/icons.woff?9i031b') format('woff'),
    url('fonts/icons.svg?9i031b#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clip:before {
  content: "\e907";
}

.icon-chevron-right:before {
  content: "\e905";
}

.icon-home:before {
  content: "\e906";
}

.icon-minus:before {
  content: "\e903";
}

.icon-plus:before {
  content: "\e904";
}

.icon-arrow-up-right:before {
  content: "\e902";
}

.icon-chevron-down:before {
  content: "\e900";
}

.icon-phone-incoming:before {
  content: "\e901";
}