@font-face {
  font-family: 'icons';
  src: url('fonts/icons.eot?mbb14t');
  src: url('fonts/icons.eot?mbb14t#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?mbb14t') format('truetype'),
    url('fonts/icons.woff?mbb14t') format('woff'),
    url('fonts/icons.svg?mbb14t#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-right:before {
  content: "\e905";
}

.icon-home:before {
  content: "\e906";
}

.icon-minus:before {
  content: "\e903";
}

.icon-plus:before {
  content: "\e904";
}

.icon-arrow-up-right:before {
  content: "\e902";
}

.icon-chevron-down:before {
  content: "\e900";
}

.icon-phone-incoming:before {
  content: "\e901";
}