@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?yicd4t');
  src:  url('fonts/icons.eot?yicd4t#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?yicd4t') format('truetype'),
    url('fonts/icons.woff?yicd4t') format('woff'),
    url('fonts/icons.svg?yicd4t#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before {
  content: "\e900";
}
.icon-phone-incoming:before {
  content: "\e901";
}
