@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?ku4ljr');
  src:  url('fonts/icons.eot?ku4ljr#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?ku4ljr') format('truetype'),
    url('fonts/icons.woff?ku4ljr') format('woff'),
    url('fonts/icons.svg?ku4ljr#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minus:before {
  content: "\e903";
}
.icon-plus:before {
  content: "\e904";
}
.icon-arrow-up-right:before {
  content: "\e902";
}
.icon-chevron-down:before {
  content: "\e900";
}
.icon-phone-incoming:before {
  content: "\e901";
}
