@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

html {
	scrollbar-gutter: stable;
}

* {
	scroll-margin-top: 10rem;
}

body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: 320px;
	min-height: 100%;
	line-height: normal;
	background: $white;
	color: $dark;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&.menu-lock {
		@media (max-width: $md2) {
			overflow: hidden;
			.wrapper {
				&::before {
					opacity: 1;
					visibility: visible;
					pointer-events: all;
				}
			}
		}
	}
	&.preloading {
		overflow: hidden;
	}
}
// ==================ОБОЛОЧКА==============================
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: clip;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($color: $dark, $alpha: 0.45);
		backdrop-filter: blur(0.125rem);
		-webkit-backdrop-filter: blur(0.125rem);
		z-index: 5;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition:
			opacity 0.3s ease,
			visibility 0.3s ease;
		cursor: pointer;
	}
}

//================== ОБОЛОЧКА==================================

//=============== ОСНОВНАЯ СЕТКА===============================

.container {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 1rem;
	&.container--fluid {
		max-width: 100%;
		box-sizing: border-box;
		padding: 0 1rem;
		@media (min-width: $md2) {
			padding: 0 rem(42);
		}
	}
	@media (min-width: $md5) {
		box-sizing: content-box;
		max-width: rem(540);
		padding: 0 1.25rem;
	}
	@media (min-width: $md4) {
		max-width: rem(720);
	}
	@media (min-width: $md3) {
		max-width: rem(960);
	}
	@media (min-width: $md2) {
		max-width: rem(1140);
	}
	@media (min-width: $md1) {
		max-width: rem(1320);
	}
	@media (min-width: $md0) {
		max-width: $maxWidthContainer;
	}
}

//=============== ОСНОВНАЯ СЕТКА===============================

// =======================ОСНОВНОЙ БЛОК==================
.main {
	position: relative;
	z-index: $ui-index-1;
	flex: 1 1 auto;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	& > * {
		&:not(.hero, .promo, .clients) {
			padding-block: rem(40);
			&:last-child {
				padding-bottom: rem(80);
			}
		}
	}
	@media (min-width: $md4) {
		& > * {
			&:not(.hero, .promo, .clients) {
				padding-block: rem(45);
				&:last-child {
					padding-bottom: rem(90);
				}
			}
		}
	}
	@media (min-width: $md2) {
		& > * {
			&:not(.hero, .promo, .clients) {
				padding-block: rem(50);
				&:last-child {
					padding-bottom: rem(100);
				}
			}
		}
	}
	@media (min-width: $md1) {
		& > * {
			&:not(.hero, .promo, .clients) {
				padding-block: rem(55);
				&:last-child {
					padding-bottom: rem(110);
				}
			}
		}
	}
	@media (min-width: $md0) {
		& > * {
			&:not(.hero, .promo, .clients) {
				padding-block: rem(60);
				&:last-child {
					padding-bottom: rem(120);
				}
			}
		}
	}
}
// ========================================================

.hero {
	padding-top: rem(80);
	background:
		url("@img/hero-decor.svg") 0 0 / cover no-repeat,
		#f6f8fa;
	@media (min-width: 1919.98px) {
		background:
			url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='86' height='80' viewBox='0 0 86 80' fill='none'%3E%3Cpath d='M7.62939e-06 0C7.62939e-06 18.804 10.0366 36.1748 26.32 45.564L86 80H7.62939e-06V0Z' fill='white'/%3E%3C/svg%3E")
				0 calc(100% + 2px) / 5rem auto no-repeat,
			url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='86' height='80' viewBox='0 0 86 80' fill='none'%3E%3Cpath d='M86 0C86 18.804 75.9634 36.1748 59.68 45.564L0 80H86V0Z' fill='white'/%3E%3C/svg%3E")
				100% calc(100% + 2px) / 5rem auto no-repeat,
			url("@img/hero-decor.svg") 0 0 / cover no-repeat,
			#f6f8fa;
	}
	// .hero__content
	&__content {
		padding: rem(30) 0 rem(36);
	}
	// .hero__breadcrumbs
	&__breadcrumbs {
	}
	// .hero__title
	&__title {
		margin-top: rem(15);
	}
}

.ymaps-2-1-79-copyright__wrap,
.ymaps-2-1-79-map-copyrights-promo {
	display: none !important;
}

.article-text {
	text-align: left;
	& > img {
		width: 100%;
		border-radius: rem(12);
	}
	& h2 {
		line-height: 150%;
		color: #9e703b;
		font-size: 1.75rem;
		&:not(:first-child) {
			margin-top: 1.12rem;
		}
		&:not(:last-child) {
			margin-bottom: 1.12rem;
		}
	}
	& h3 {
		font-size: 1.25rem;
		line-height: 160%;

		&:not(:first-child) {
			margin-top: 2rem;
		}
		&:not(:last-child) {
			margin-bottom: 1.25rem;
		}
	}
	& p,
	& ul:not([class]) {
		font-size: 1rem;
		line-height: 150%;
		@media (min-width: $md4) {
			font-size: 1.125rem;
			line-height: 155.556%;
		}
		&:not(:last-child) {
			margin-bottom: 0.75rem;
		}
	}
	& figure {
		&:not(:first-child) {
			margin-top: 3rem;
		}
		&:not(:last-child) {
			margin-bottom: 3rem;
		}
		& > img {
			min-height: 14.375rem;
			object-fit: cover;
			width: 100%;
			border-radius: rem(12);
		}
		figcaption {
			margin-top: 1rem;
			font-size: 0.875rem;
			line-height: 142.857%;
			& a {
				text-decoration: underline;
				color: inherit;
				@media (any-hover: hover) {
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
		&:has(cite) {
			border-left: 0.125rem solid $accent;
			padding-block: 0.5rem;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding-left: 1.25rem;
			@media (min-width: $md4) {
				padding-left: 1.5rem;
			}
			& cite {
				padding-left: 0;
				border-left: 0;
				padding-block: 0;
			}
			.article__author {
				margin-top: 2rem;
			}
			.article__author-thumb {
				width: 3rem;
				height: 3rem;
			}
		}
	}
	& cite,
	& blockquote {
		padding-block: 0.5rem;
		border-left: 0.125rem solid $accent;
		font-style: italic;
		font-weight: 500;
		line-height: 150%;
		display: block;
		font-size: 1.25rem;
		padding-left: 1.25rem;
		@media (min-width: $md4) {
			padding-left: 1.5rem;
			font-size: 1.5rem;
		}
	}
	& iframe {
		width: 100%;
		aspect-ratio: math.div(328, 187);
		&:not(:first-child) {
			margin-top: 3rem;
		}
		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}
	& ul:not([class]) {
		list-style: disc;
		padding-left: 1em;
		& li {
			&::marker {
				font-size: 0.8em;
			}
		}
	}
}

.faq {
	// .faq__header
	&__header {
		max-width: 32rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 1rem;
		margin: 0 auto;
	}
	// .faq__hint
	&__hint {
	}
	// .faq__title
	&__title {
	}
	// .faq__subtitle
	&__subtitle {
	}
	// .faq__content
	&__content {
		margin-top: rem(64);
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.5rem;
		max-width: rem(1396);
		margin-inline: auto;
	}
	// .faq__column
	&__column {
	}
	// .faq__item
	&__item {
		border-bottom: rem(1) solid #d5d7da;
		transition: border-color 0.3s ease;
		&._spoller-open {
			border-color: #181d27;
		}
		&:not(:last-child) {
			margin-bottom: rem(6);
		}
	}
	// .faq__item-question
	&__item-question {
		font-family: $font-gilroy;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 120%;
		display: flex;
		align-items: flex-start;
		gap: 1rem;
		padding: rem(18) rem(24);
		cursor: pointer;
		width: 100%;
		&::before {
			margin-left: auto;
			order: 1;
			width: 1.5rem;
			height: 1.5rem;
			font-size: 1rem;
			display: flex;
			justify-content: center;
			align-items: center;
			transition:
				transform 0.3s ease,
				color 0.3s ease;
			@extend %ic;
			@extend .icon-plus;
		}
		&._active {
			color: $accent;
			&::before {
				transform: rotate(360deg);
				font-size: 1.45rem;
				color: $accent;
				@extend .icon-minus;
			}
		}
	}
	// .faq__item-answer
	&__item-answer {
		padding: 0 rem(18) rem(24);
		display: none;
	}
}

.presentation {
	// .presentation__content
	&__content {
		border: rem(1) solid $accent;
		background: #f5f5f5;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: rem(51) 3.5rem;
	}
	// .presentation__info
	&__info {
		max-width: rem(630);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	// .presentation__hint
	&__hint {
	}
	// .presentation__title
	&__title {
		margin-top: 2rem;
	}
	// .presentation__desc
	&__desc {
		margin-top: 2rem;
		font-size: 1.75rem;
		line-height: 128.571%;
		letter-spacing: em(0.8, 32);
	}
	// .presentation__btn
	&__btn {
		margin-top: rem(56);
	}
	// .presentation__images
	&__images {
		position: relative;
		flex: 0 0 52%;
		background: url("@img/logo-short.svg") center / auto 96% no-repeat;
	}
	// .presentation__stats
	&__stats {
		position: absolute;
		top: rem(30);
		left: 0;
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		background: #fff;
		padding: 0.5rem;
		font-size: 1rem;
	}
	// .presentation__stat
	&__stat {
	}
	// .presentation__stat-item
	&__stat-item {
	}
	// .presentation__stat-value
	&__stat-value {
		color: #ff4405;
	}
	// .presentation__image
	&__image {
		& img {
			filter: drop-shadow(rem(36) rem(26) rem(30) rgba(0, 0, 0, 0.31));
		}
	}
}

.clients {
	padding: rem(35) 0;
	// .clients__marquee
	&__marquee {
	}
}

.gratitudes {
	// .gratitudes__body
	&__body {
		background:
			url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='86' height='80' viewBox='0 0 86 80' fill='none'%3E%3Cpath d='M7.62939e-06 0C7.62939e-06 18.804 10.0366 36.1748 26.32 45.564L86 80H7.62939e-06V0Z' fill='white'/%3E%3C/svg%3E")
				0 calc(100% + 2px) / 5rem auto no-repeat,
			url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='86' height='80' viewBox='0 0 86 80' fill='none'%3E%3Cpath d='M86 0C86 18.804 75.9634 36.1748 59.68 45.564L0 80H86V0Z' fill='white'/%3E%3C/svg%3E")
				100% calc(100% + 2px) / 5rem auto no-repeat,
			url("@img/gratitudes-decor.svg") center bottom / 100% auto no-repeat,
			linear-gradient(180deg, #fff 19.58%, #f3f3f3 100%);
	}
	// .gratitudes__header
	&__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 0.5rem;
	}
	// .gratitudes__hint
	&__hint {
	}
	// .gratitudes__title
	&__title {
	}
	// .gratitudes__body
	&__body {
		padding-bottom: rem(157);
	}
	// .gratitudes__content
	&__content {
		margin-top: 3.5rem;
	}
	// .gratitudes__caption
	&__caption {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding: 0 0 1rem;
		border-bottom: rem(1) solid #d5d7da;
	}
	// .gratitudes__details
	&__details {
		display: flex;
		align-items: center;
		gap: 0.44rem;
		letter-spacing: normal;
	}
	// .gratitudes__details-quantity
	&__details-quantity {
		padding: 0.25rem 0.375rem;
		border-radius: 0.375rem;
		background: #ff4405;
		color: #fff;
		font-size: 0.875rem;
		line-height: 114.286%;
		font-weight: 400;
	}
	// .gratitudes__controls
	&__controls {
		display: flex;
		align-items: center;
		gap: 1.5rem;
	}
	// .gratitudes__pagination
	&__pagination {
	}
	// .gratitudes__btns
	&__btns {
		display: flex;
		align-items: center;
		gap: rem(6);
	}
	// .gratitudes__prev
	&__prev {
	}
	// .gratitudes__next
	&__next {
	}
	// .gratitudes__slider
	&__slider {
		margin-top: rem(42);
	}
	// .gratitudes__slide
	&__slide {
		position: relative;
		height: auto;
		&::before {
			width: 3.5rem;
			height: 3.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			color: #ff4405;
			background-color: #fff;
			position: absolute;
			top: 50%;
			left: 50%;
			font-size: 1.5rem;
			transform: translate(-50%, -50%);
			box-shadow: rem(16) rem(20) rem(48) rgba(0, 0, 0, 0.5);
			opacity: 0;
			visibility: hidden;
			transition:
				opacity 0.3s ease,
				visibility 0.3s ease;
			@extend %ic, .icon-search;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}

.why {
	// .why__header
	&__header {
		max-width: 46.75rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 1rem;
		margin: 0 auto;
	}
	// .why__content
	&__content {
		padding: 4rem 0;
		background:
			url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='216' height='200' viewBox='0 0 216 200' fill='none'%3E%3Cpath d='M216 200C216 152.99 190.792 109.563 149.894 86.0901L0 0H216V200Z' fill='white'/%3E%3C/svg%3E")
				100% -2px / 8.9375rem auto no-repeat,
			url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='86' height='80' viewBox='0 0 86 80' fill='none'%3E%3Cpath d='M7.62939e-06 0C7.62939e-06 18.804 10.0366 36.1748 26.32 45.564L86 80H7.62939e-06V0Z' fill='white'/%3E%3C/svg%3E")
				0 calc(100% + 2px) / 8.9375rem auto no-repeat,
			#f6f8fa;
	}
	// .why__hint
	&__hint {
	}
	// .why__title
	&__title {
	}
	// .why__subtitle
	&__subtitle {
		font-size: 1.25rem;
		line-height: 130%;
		letter-spacing: -0.0125rem;
		max-width: rem(740);
	}
	// .why__body
	&__body {
		margin-top: 3.56rem;
		max-width: rem(1488);
		margin-inline: auto;
	}
	// .why__cards
	&__cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1.5rem;
	}
	// .why__card
	&__card {
		border-radius: 2.25rem 0;
		background: #fff;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 1.5rem;
		transition:
			background-color 0.3s ease,
			color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				background-color: #181d27;
				color: #fff;
				.why__card-icon {
					color: #fff;
					background: #ff4405;
				}
			}
		}
	}
	// .why__card-icon
	&__card-icon {
		width: 4.5rem;
		height: 4.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 1.5rem 0;
		background: #f5f5f5;
		color: $accent;
		padding: 0.75rem;
		transition:
			background-color 0.3s ease,
			color 0.3s ease;
		& svg {
			& path {
				stroke: currentColor;
			}
		}
	}
	// .why__card-title
	&__card-title {
		margin-top: 3.25rem;
		font-family: $font-gilroy;
		font-size: 1.5rem;
		font-weight: 700;
	}
	// .why__card-desc
	&__card-desc {
		margin-top: rem(18);
		font-size: 1rem;
		line-height: 150%;
	}
	// .why__btn
	&__btn {
		width: calc(33.33% - 1rem);
		margin: 2rem auto 0;
		display: flex;
	}
}
