@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

html {
	scrollbar-gutter: stable;
}

* {
	scroll-margin-top: 10rem;
}

body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: 320px;
	min-height: 100%;
	line-height: normal;
	background: $white;
	color: $dark;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&.menu-lock {
		@media (max-width: $md2) {
			overflow: hidden;
			.wrapper {
				&::before {
					opacity: 1;
					visibility: visible;
					pointer-events: all;
				}
			}
		}
	}
	&.preloading {
		overflow: hidden;
	}
}
// ==================ОБОЛОЧКА==============================
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: clip;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($color: $dark, $alpha: 0.45);
		backdrop-filter: blur(0.125rem);
		-webkit-backdrop-filter: blur(0.125rem);
		z-index: 5;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition:
			opacity 0.3s ease,
			visibility 0.3s ease;
		cursor: pointer;
	}
}

//================== ОБОЛОЧКА==================================

//=============== ОСНОВНАЯ СЕТКА===============================

.container {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 1rem;
	&.container--fluid {
		max-width: 100%;
		box-sizing: border-box;
		padding: 0 1rem;
		@media (min-width: $md2) {
			padding: 0 rem(42);
		}
	}
	@media (min-width: $md5) {
		box-sizing: content-box;
		max-width: rem(540);
		padding: 0 1.25rem;
	}
	@media (min-width: $md4) {
		max-width: rem(720);
	}
	@media (min-width: $md3) {
		max-width: rem(960);
	}
	@media (min-width: $md2) {
		max-width: rem(1140);
	}
	@media (min-width: $md1) {
		max-width: rem(1320);
	}
	@media (min-width: $md0) {
		max-width: $maxWidthContainer;
	}
}

//=============== ОСНОВНАЯ СЕТКА===============================

// =======================ОСНОВНОЙ БЛОК==================
.main {
	position: relative;
	z-index: $ui-index-1;
	flex: 1 1 auto;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: rem(80);
	& > *:last-child {
		padding-bottom: rem(80);
	}
	@media (min-width: $md4) {
		gap: rem(90);
		& > *:last-child {
			padding-bottom: rem(90);
		}
	}
	@media (min-width: $md2) {
		gap: rem(100);
		& > *:last-child {
			padding-bottom: rem(100);
		}
	}
	@media (min-width: $md1) {
		gap: rem(110);
		& > *:last-child {
			padding-bottom: rem(110);
		}
	}
	@media (min-width: $md0) {
		gap: rem(120);
		& > *:last-child {
			padding-bottom: rem(120);
		}
	}
}
// ========================================================

.faq {
	// .faq__header
	&__header {
		max-width: 32rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 1rem;
		margin: 0 auto;
	}
	// .faq__hint
	&__hint {
	}
	// .faq__title
	&__title {
	}
	// .faq__subtitle
	&__subtitle {
	}
	// .faq__content
	&__content {
		margin-top: rem(64);
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.5rem;
	}
	// .faq__column
	&__column {
	}
	// .faq__item
	&__item {
		border-bottom: rem(1) solid #d5d7da;
		transition: border-color 0.3s ease;
		&._spoller-open {
			border-color: #181d27;
		}
		&:not(:last-child) {
			margin-bottom: rem(6);
		}
	}
	// .faq__item-question
	&__item-question {
		font-family: $font-gilroy;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 120%;
		display: flex;
		align-items: flex-start;
		gap: 1rem;
		padding: rem(18) rem(24);
		cursor: pointer;
		width: 100%;
		&::before {
			margin-left: auto;
			order: 1;
			width: 1.5rem;
			height: 1.5rem;
			font-size: 1rem;
			display: flex;
			justify-content: center;
			align-items: center;
			transition:
				transform 0.3s ease,
				color 0.3s ease;
			@extend %ic;
			@extend .icon-plus;
		}
		&._active {
			color: $accent;
			&::before {
				transform: rotate(360deg);
				font-size: 1.5rem;
				color: $accent;
				@extend .icon-minus;
			}
		}
	}
	// .faq__item-answer
	&__item-answer {
		padding: 0 rem(18) rem(24);
		display: none;
	}
}

.presentation {
	// .presentation__content
	&__content {
		border: rem(1) solid $accent;
		background: #f5f5f5;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2.625rem 3.5rem;
	}
	// .presentation__info
	&__info {
		max-width: rem(630);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	// .presentation__hint
	&__hint {
	}
	// .presentation__title
	&__title {
		margin-top: 2rem;
	}
	// .presentation__desc
	&__desc {
		margin-top: 2rem;

		font-size: 1.75rem;
		line-height: 128.571%;
	}
	// .presentation__btn
	&__btn {
		margin-top: rem(56);
	}
	// .presentation__images
	&__images {
		position: relative;
		flex: 0 0 50%;
		background: url("@img/logo-short.svg") center / contain no-repeat;
	}
	// .presentation__stats
	&__stats {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		background: #fff;
		padding: 0.5rem;
		font-size: 1rem;
	}
	// .presentation__stat
	&__stat {
	}
	// .presentation__stat-item
	&__stat-item {
	}
	// .presentation__stat-value
	&__stat-value {
		color: #ff4405;
	}
	// .presentation__image
	&__image {
	}
}

.hero {
	padding-top: rem(80);
	background:
		url("@img/hero-decor.svg") 0 0 / cover no-repeat,
		#f6f8fa;
	@media (min-width: 1919.98px) {
		background:
			url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='86' height='80' viewBox='0 0 86 80' fill='none'%3E%3Cpath d='M7.62939e-06 0C7.62939e-06 18.804 10.0366 36.1748 26.32 45.564L86 80H7.62939e-06V0Z' fill='white'/%3E%3C/svg%3E")
				0 calc(100% + 2px) / 5rem auto no-repeat,
			url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='86' height='80' viewBox='0 0 86 80' fill='none'%3E%3Cpath d='M86 0C86 18.804 75.9634 36.1748 59.68 45.564L0 80H86V0Z' fill='white'/%3E%3C/svg%3E")
				100% calc(100% + 2px) / 5rem auto no-repeat,
			url("@img/hero-decor.svg") 0 0 / cover no-repeat,
			#f6f8fa;
	}
	// .hero__content
	&__content {
		padding: rem(30) 0;
	}
	// .hero__breadcrumbs
	&__breadcrumbs {
	}
	// .hero__title
	&__title {
		margin-top: rem(15);
	}
}

.ymaps-2-1-79-copyright__wrap,
.ymaps-2-1-79-map-copyrights-promo {
	display: none !important;
}

.article-text {
	text-align: left;
	& > img {
		width: 100%;
		border-radius: rem(12);
	}
	& h2 {
		line-height: 150%;
		color: #9e703b;
		font-size: 1.75rem;
		&:not(:first-child) {
			margin-top: 1.12rem;
		}
		&:not(:last-child) {
			margin-bottom: 1.12rem;
		}
	}
	& h3 {
		font-size: 1.25rem;
		line-height: 160%;

		&:not(:first-child) {
			margin-top: 2rem;
		}
		&:not(:last-child) {
			margin-bottom: 1.25rem;
		}
	}
	& p,
	& ul:not([class]) {
		font-size: 1rem;
		line-height: 150%;
		@media (min-width: $md4) {
			font-size: 1.125rem;
			line-height: 155.556%;
		}
		&:not(:last-child) {
			margin-bottom: 0.75rem;
		}
	}
	& figure {
		&:not(:first-child) {
			margin-top: 3rem;
		}
		&:not(:last-child) {
			margin-bottom: 3rem;
		}
		& > img {
			min-height: 14.375rem;
			object-fit: cover;
			width: 100%;
			border-radius: rem(12);
		}
		figcaption {
			margin-top: 1rem;
			font-size: 0.875rem;
			line-height: 142.857%;
			& a {
				text-decoration: underline;
				color: inherit;
				@media (any-hover: hover) {
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
		&:has(cite) {
			border-left: 0.125rem solid $accent;
			padding-block: 0.5rem;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding-left: 1.25rem;
			@media (min-width: $md4) {
				padding-left: 1.5rem;
			}
			& cite {
				padding-left: 0;
				border-left: 0;
				padding-block: 0;
			}
			.article__author {
				margin-top: 2rem;
			}
			.article__author-thumb {
				width: 3rem;
				height: 3rem;
			}
		}
	}
	& cite,
	& blockquote {
		padding-block: 0.5rem;
		border-left: 0.125rem solid $accent;
		font-style: italic;
		font-weight: 500;
		line-height: 150%;
		display: block;
		font-size: 1.25rem;
		padding-left: 1.25rem;
		@media (min-width: $md4) {
			padding-left: 1.5rem;
			font-size: 1.5rem;
		}
	}
	& iframe {
		width: 100%;
		aspect-ratio: math.div(328, 187);
		&:not(:first-child) {
			margin-top: 3rem;
		}
		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}
	& ul:not([class]) {
		list-style: disc;
		padding-left: 1em;
		& li {
			&::marker {
				font-size: 0.8em;
			}
		}
	}
}
