@font-face {
								font-family: 'Gilroy';
								font-display: swap;
								src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
								font-weight: 700;
								font-style: normal;
							}
@font-face {
								font-family: 'Gilroy';
								font-display: swap;
								src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
								font-weight: 600;
								font-style: normal;
							}
@font-face {
								font-family: 'icons';
								font-display: swap;
								src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
								font-weight: 400;
								font-style: normal;
							}
@font-face {
								font-family: 'Inter';
								src: url("../fonts/Inter-VariableFont_wght.woff2") format("woff2 supports variations"),
									url("../fonts/Inter-VariableFont_wght.woff2") format("woff2-variations"),
									url("../fonts/Inter-VariableFont_wght.woff") format("woff");
								font-weight: 100 900;
								font-stretch: 75% 125%;
								font-style: normal;
								font-display: swap;
							}
@font-face {
								font-family: 'Gilroy';
								font-display: swap;
								src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
								font-weight: 400;
								font-style: normal;
							}
