@font-face {
								font-family: 'Arimo';
								src: url("../fonts/Arimo-VariableFont_wght.woff2") format("woff2 supports variations"),
									url("../fonts/Arimo-VariableFont_wght.woff2") format("woff2-variations"),
									url("../fonts/Arimo-VariableFont_wght.woff") format("woff");
								font-weight: 100 900;
								font-stretch: 75% 125%;
								font-style: normal;
								font-display: swap;
							}
@font-face {
								font-family: 'Gilroy';
								font-display: swap;
								src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
								font-weight: 700;
								font-style: normal;
							}
@font-face {
								font-family: 'Comfortaa';
								src: url("../fonts/Comfortaa-VariableFont_wght.woff2") format("woff2 supports variations"),
									url("../fonts/Comfortaa-VariableFont_wght.woff2") format("woff2-variations"),
									url("../fonts/Comfortaa-VariableFont_wght.woff") format("woff");
								font-weight: 100 900;
								font-stretch: 75% 125%;
								font-style: normal;
								font-display: swap;
							}
@font-face {
								font-family: 'Gilroy';
								font-display: swap;
								src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
								font-weight: 400;
								font-style: normal;
							}
@font-face {
								font-family: 'Gilroy';
								font-display: swap;
								src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
								font-weight: 600;
								font-style: normal;
							}
@font-face {
								font-family: 'Inter';
								src: url("../fonts/Inter-VariableFont_opsz,wght.woff2") format("woff2 supports variations"),
									url("../fonts/Inter-VariableFont_opsz,wght.woff2") format("woff2-variations"),
									url("../fonts/Inter-VariableFont_opsz,wght.woff") format("woff");
								font-weight: 100 900;
								font-stretch: 75% 125%;
								font-style: normal;
								font-display: swap;
							}
@font-face {
								font-family: 'icons';
								font-display: swap;
								src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
								font-weight: 400;
								font-style: normal;
							}
@font-face {
								font-family: 'Inter';
								src: url("../fonts/Inter-VariableFont_wght.woff2") format("woff2 supports variations"),
									url("../fonts/Inter-VariableFont_wght.woff2") format("woff2-variations"),
									url("../fonts/Inter-VariableFont_wght.woff") format("woff");
								font-weight: 100 900;
								font-stretch: 75% 125%;
								font-style: normal;
								font-display: swap;
							}
@font-face {
								font-family: 'Inter_18pt';
								font-display: swap;
								src: url("../fonts/Inter_18pt-Medium.woff2") format("woff2"), url("../fonts/Inter_18pt-Medium.woff") format("woff");
								font-weight: 500;
								font-style: normal;
							}
@font-face {
								font-family: 'Inter_18pt';
								font-display: swap;
								src: url("../fonts/Inter_18pt-Regular.woff2") format("woff2"), url("../fonts/Inter_18pt-Regular.woff") format("woff");
								font-weight: 400;
								font-style: normal;
							}
@font-face {
								font-family: 'PTSans';
								font-display: swap;
								src: url("../fonts/PTSans-Bold.woff2") format("woff2"), url("../fonts/PTSans-Bold.woff") format("woff");
								font-weight: 700;
								font-style: normal;
							}
@font-face {
								font-family: 'PTSans';
								font-display: swap;
								src: url("../fonts/PTSans-BoldItalic.woff2") format("woff2"), url("../fonts/PTSans-BoldItalic.woff") format("woff");
								font-weight: 700;
								font-style: italic;
							}
@font-face {
								font-family: 'PTSans';
								font-display: swap;
								src: url("../fonts/PTSans-Italic.woff2") format("woff2"), url("../fonts/PTSans-Italic.woff") format("woff");
								font-weight: 400;
								font-style: italic;
							}
@font-face {
								font-family: 'PTSans';
								font-display: swap;
								src: url("../fonts/PTSans-Regular.woff2") format("woff2"), url("../fonts/PTSans-Regular.woff") format("woff");
								font-weight: 400;
								font-style: normal;
							}
