@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

.footer {
	background: #181d27;
	color: #d5d7da;
	&.footer--error-404 {
		@media (max-width: $md4) {
			min-height: rem(204);
		}
		@media (min-width: $md4) {
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			z-index: 2;
			background: #181d27;
			@media (min-height: 740px) {
				background: transparent;
			}
		}
		@media (min-width: $md2) {
			@media (min-height: 720px) {
				background: transparent;
			}
		}
	}
	padding: rem(32) 0 rem(24);
	@media (min-width: $md4) {
		padding: rem(43) 0 rem(24);
	}
	// .footer__top
	&__top {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		@media (min-width: $md4) {
			align-items: flex-start;
			flex-direction: row;
		}
		@media (min-width: $md3) {
			align-items: center;
		}
	}
	// .footer__side
	&__side {
		display: flex;
		flex-direction: column;
		@media (min-width: $md3) {
			align-items: center;
			flex-direction: row;
		}
	}
	// .footer__logo
	&__logo {
		width: 100%;
		flex-shrink: 0;
		max-width: rem(169);
		@media (min-width: $md5) {
			max-width: 14.0625rem;
		}
	}
	// .footer__reqs
	&__reqs {
		font-size: 0.75rem;
		line-height: 157.143%;
		margin-top: rem(12);
		padding-top: rem(12);
		border-top: rem(1) solid #414651;
		@media (min-width: $md5) {
			font-size: 0.875rem;
		}
		@media (min-width: $md3) {
			padding-left: rem(30);
			border-left: rem(1) solid #414651;
			margin-left: rem(30);
			border-top: 0;
			padding-top: 0;
			margin-top: 0;
		}
	}
	// .footer__socials
	&__socials {
		gap: 0.75rem;
		@media (min-width: $md4) {
			margin-left: auto;
			max-width: rem(252);
			justify-content: flex-end;
		}
	}

	// .footer__body
	&__body {
		margin-top: rem(24);
		padding-top: rem(24);
		border-top: rem(1) solid #414651;
	}
	// .footer__menu
	&__menu {
	}
	// .footer__menu-list
	&__menu-list {
		@media (max-width: $md4) {
			display: flex;
			flex-direction: column;
		}
		@media (min-width: $md4) {
			columns: 2;
			column-gap: 2rem;
		}
		@media (min-width: $md3) {
			columns: 3;
		}
		@media (min-width: $md2) {
			columns: 4;
		}
		@media (min-width: $md1) {
			columns: 5;
			column-gap: 3rem;
		}
		@media (min-width: $md0) {
			column-gap: 5rem;
			columns: 6;
		}
		&._init {
			.footer__arrow-button {
				display: flex;
			}
		}
	}
	// .footer__menu-item
	&__menu-item {
		&.menu-item-object-services {
			.footer__submenu-item {
				@media (min-width: $md4) {
					margin-top: rem(32);
					break-inside: avoid;
				}
				@media (min-width: $md1) {
					width: rem(250);
				}
			}
		}

		&.blog-block {
			@media (min-width: $md4) {
				.footer__submenu {
					display: none !important;
				}
			}
		}
		&.menu-item-object-portfolio {
			@media (min-width: $md4) {
				break-inside: avoid;
			}
			@media (min-width: $md1) {
				min-height: 17rem;
			}
			@media (min-width: $md0) {
				min-height: rem(240);
			}
		}
		&.has-child {
			.footer__menu-link {
				@media (max-width: $md4) {
					padding-right: 3rem;
				}
			}
		}
		&._spoller-open {
			.footer__menu-link {
				color: $accent;
				border-bottom: rem(1) solid $accent;
			}
			& > .footer__arrow-button {
				color: $accent;
			}
		}
		@media (min-width: $md4) {
			margin-bottom: 1.5rem;
		}
		@media (max-width: $md4) {
			display: flex;
			flex-wrap: wrap;
		}
	}
	// .footer__menu-link
	&__menu-link {
		flex: 0 0 100%;
		padding: 0.625rem 0;
		display: block;
		border-bottom: rem(1) solid #414651;
		color: #fff;
		font-family: $font-gilroy;
		font-size: 1.25rem;
		font-weight: 700;
		line-height: 120%;
		transition:
			color 0.3s ease,
			border-color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
		@media (min-width: $md4) {
			color: #d5d7da;
			font-size: 1.375rem;
			font-family: $fontfamily;
			padding: 0;
			border-bottom: 0;
			display: inline-block;
		}
	}
	// .footer__arrow-button
	&__arrow-button {
		display: none;
		width: 2.5rem;
		margin-left: -2rem;
		margin-right: -0.5rem;
		color: #a4a7ae;
		align-self: stretch;
		justify-content: center;
		align-items: center;
		font-size: 0.375rem;
		transition:
			transform 0.3s ease,
			color 0.3s ease;
		&._active {
			transform: rotate(180deg);
		}
	}
	// .footer__submenu
	&__submenu {
		flex: 0 0 100%;
		@media (min-width: $md4) {
			margin-top: 2rem;
		}
	}
	// .footer__submenu-item
	&__submenu-item {
		&.has-child {
			.footer__menu-link {
				@media (max-width: $md4) {
					padding-right: 3rem;
				}
			}
		}

		&._spoller-open {
			.footer__submenu-link {
				border-bottom: rem(1) solid $accent;
			}
			& > .footer__arrow-button {
				color: $accent;
			}
		}
		@media (min-width: $md4) {
			&:not(:last-child) {
				margin-bottom: 0.75rem;
			}
		}
		@media (max-width: $md4) {
			display: flex;
			flex-wrap: wrap;
		}
	}
	// .footer__submenu-link
	&__submenu-link {
		flex: 0 0 100%;
		padding: 0.5rem;
		font-size: 1rem;
		font-weight: 500;
		line-height: 150%;
		color: #fff;
		border-bottom: rem(1) solid #414651;
		transition:
			color 0.3s ease,
			border-color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
		@media (min-width: $md4) {
			border-bottom: 0;
			color: #d5d7da;
			padding: 0;
			font-size: 1.125rem;
		}
	}
	// .footer__subsubmenu
	&__subsubmenu {
		flex: 0 0 100%;
		padding-right: 2.25rem;
		@media (min-width: $md4) {
			margin-top: 1rem;
			padding-right: 0;
		}
	}
	// .footer__subsubmenu-item
	&__subsubmenu-item {
		&:not(:last-child) {
			@media (min-width: $md4) {
				margin-bottom: 0.5rem;
			}
			@media (max-width: $md4) {
				border-bottom: rem(1) solid #414651;
			}
		}
	}
	// .footer__subsubmenu-link
	&__subsubmenu-link {
		display: block;
		color: #d5d7da;
		font-size: 0.875rem;
		line-height: 128.571%;
		padding: 0.5rem 1rem;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
		@media (min-width: $md4) {
			padding: 0;
			display: inline-block;
		}
	}
	// .footer__bottom
	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;

		line-height: 137.5%;
		flex-wrap: wrap;
		gap: rem(12);
		font-size: 0.875rem;
		&:not(:first-child) {
			margin-top: 2rem;
		}
		@media (min-width: $md5) {
			font-size: 1rem;
			&:not(:first-child) {
				margin-top: 2.5rem;
				padding-top: 1.5rem;
				border-top: rem(1) solid #414651;
			}
		}
	}
	// .footer__copyright
	&__copyright {
	}
	// .footer__policies
	&__policies {
	}
	// .footer__policies-list
	&__policies-list {
		display: flex;
		gap: 2.5rem;
		font-size: 0.875rem;
		row-gap: 0.5rem;
		line-height: 165%;
		flex-direction: column;
		align-items: flex-start;
		@media (min-width: $md4) {
			align-items: center;
			flex-direction: row;
			font-size: 1rem;
			line-height: 137.5%;
		}
		& a {
			transition: color 0.3s ease;
			color: #2e90fa;
			@media (any-hover: hover) {
				&:hover {
					color: $accent;
				}
			}
		}
	}
	// .footer__production
	&__production {
		font-size: 1rem;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
}
