@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";
@use "ui";

.form {
	// .form__fields
	&__fields {
		display: flex;
		flex-direction: column;
		gap: rem(20);
	}
	// .form__field
	&__field {
		width: 100%;
	}
	// .form__label
	&__label {
		font-size: 1.3125rem;
		margin-bottom: rem(10);
	}
	// .form__control
	&__control {
		text-overflow: ellipsis;
		transition: border-color 0.3s ease 0s, color 0.3s ease 0s, background-color 0.3s ease;
		width: 100%;
		border-radius: 0.75rem;
		border: rem(1) solid #f5f5f5;
		background: #f5f5f5;
		font-size: 1.125rem;
		line-height: 144.444%;
		padding: rem(11) rem(23);
		@media (min-width: $md4) {
			padding: rem(15) rem(23);
		}
		&.form__control--dark {
			background: #141414;
			border-color: #141414;
			color: #fff;
			&._error {
				background: rgba(255, 255, 255, 0.08);
			}
			&:hover,
			&:focus {
				background: #2e2e2e;
				border-color: #2e2e2e;
			}
			&::placeholder {
				opacity: 0.5;
				color: #fff;
			}
		}
		&::placeholder {
			opacity: 1;
			color: #a4a4a4;
		}
		&:hover,
		&:focus {
			background: #e9eaeb;
			border-color: #e9eaeb;
		}
		&:disabled {
			background: #ddd;
			border-color: #ddd;
		}
		&._error {
			background: #fff1ed;
			border-color: #f04438;
			color: #f04438;
			&::placeholder {
				color: #f04438;
				opacity: 1;
			}
		}
		&:is(textarea) {
			resize: none;
			height: rem(120);
			font-size: 1rem;
			@media (min-width: $md5) {
				font-size: 1.125rem;
				height: rem(136);
			}
		}
	}

	&__submit {
		position: relative;
		margin-top: 2.5rem;
		margin-inline: auto;
		cursor: pointer;
		&:has(input:disabled) {
			pointer-events: none;
			cursor: default;
			opacity: 0.5;
		}
		& input {
			background: transparent;
			color: inherit;
			cursor: pointer;
			font-weight: 900;
		}
		.wpcf7-spinner {
			display: none;
		}
	}

	// .form__file
	&__file {
		width: 100%;
		&.uploaded {
			.form__file-field {
				@extend .hidden;
			}
		}
	}
	// .form__file-input
	&__file-input {
	}
	// .form__file-btn
	&__file-btn {
		color: #1570ef;
		font-size: 1rem;
		font-weight: 400;
		line-height: 137.5%;
		display: inline-flex;
		align-items: center;
		gap: 0.5rem;
		cursor: pointer;
		&::before {
			color: #717680;
			width: 1.5rem;
			height: 1.5rem;
			font-size: 1.5rem;
			flex-shrink: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: border-color 0.3s ease, color 0.3s ease, background-color 0.3s ease;
		}
	}
	// .form__file-preview
	&__file-preview {
		margin-top: 1rem;
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
	// .form__file-image
	&__file-image {
		flex: 0 0 5rem;
		height: 5rem;
		& img {
			width: 100%;
		}
	}
	// .form__file-name
	&__file-name {
		flex: 1 1 auto;
	}
	// .form__file-remove
	&__file-remove {
		width: 2rem;
		height: 2rem;
		font-size: 2rem;
		flex-shrink: 0;
		color: #a4a7ae;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #d92d20;
			}
		}
	}

	// .form__btn
	&__btn {
		width: 100%;
	}
	// .form__policy
	&__policy {
		font-size: rem(12);
		line-height: 150%;
		@media (min-width: $md5) {
			line-height: 142.857%;
			font-size: 0.875rem;
		}
		& a {
			color: #1570ef;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.checkbox {
	display: inline-flex;
	width: fit-content;
	// .checkbox__input
	&__input {
		&:checked {
			& + .checkbox__text {
				&::before {
					border-color: #8e7558;
					background: #8e7558;
					@extend %ic, .icon-check;
				}
			}
		}
		&._error {
			& + .checkbox__text {
				&::before {
					border-color: #f04438;
				}
			}
		}
	}
	// .checkbox__text
	&__text {
		position: relative;
		display: block;
		width: fit-content;
		padding: 0 0 0 2rem;
		line-height: 100%;
		cursor: pointer;
		user-select: none;
		font-size: 0.875rem;
		line-height: math.div(1.125, 0.875);
		min-height: rem(20);
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			border: rem(1) solid #d5d7da;
			width: 1.25rem;
			height: 1.25rem;
			border-radius: 0.25rem;
			color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					border-color: $accent;
				}
			}
		}
		& a {
			color: #1570ef;
			text-decoration: underline;

			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

.btn {
	position: relative;
	z-index: 1;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: rem(6);
	text-align: center;
	user-select: none;
	transition: all 0.3s ease;
	font-family: $font-comfortaa;
	text-transform: uppercase;
	border: rem(2) solid;
	line-height: 140%;
	font-weight: 700;
	padding: rem(9) rem(18);
	font-size: 0.875rem;
	@media (min-width: $md4) {
		padding: rem(14) rem(18);
		font-size: 1rem;
	}
	@media (min-width: $md2) {
		padding: rem(18) rem(22);
	}
	&::before {
		width: 1.125rem;
		height: 1.125rem;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		order: 1;
		transition: transform 0.3s ease;
	}

	&.icon-chevron-right {
		@media (any-hover: hover) {
			&:hover {
				&::before {
					transform: translateX(0.5rem);
				}
			}
		}
	}
	&.btn-primary {
		border-color: #efcb92;
		background: #efcb92;
		box-shadow: rem(5) rem(5) rem(10) 0 rgba(227, 184, 115, 0.3);
		color: #000;
		@media (any-hover: hover) {
			&:hover {
				background: #e2c08b;
				border-color: #e2c08b;
				box-shadow: none;
			}
		}
	}

	&.btn-sm {
		padding: rem(6) rem(12);
		@media (min-width: $md4) {
			padding: rem(15) rem(22);
		}
	}

	&:disabled,
	&[aria-disabled="true"] {
		cursor: default;
		color: $white;
		pointer-events: none;
	}
	&:active {
		transform: scale(0.985);
	}
}

.switcher {
	border-radius: 0.75rem;
	background: #0a0d12;
	color: #d5d7da;
	padding: 0.25rem;
	display: inline-flex;
	gap: 0.25rem;
	position: relative;
	--active-width: 0px;
	--active-offset: 0px;

	// .switcher__slider
	&__slider {
		position: absolute;
		top: 0.25rem;
		left: 0.25rem;
		height: calc(100% - 0.5rem);
		border-radius: 0.5rem;
		background: #efcb92;
		z-index: 1;
		width: var(--active-width);
		transform: translateX(var(--active-offset));
		transition: transform 0.3s ease, width 0.3s ease;
	}
	// .switcher__item
	&__item {
		display: block;
		position: relative;
		z-index: 2;
	}
	// .switch__input
	&__input {
		&:checked {
			& + .switcher__btn {
				color: #181d27;
			}
		}
	}
	// .switch__btn
	&__btn {
		border-radius: 0.5rem;
		display: block;
		cursor: pointer;
		transition: color 0.3s ease, background-color 0.3s ease;
		font-size: 1rem;
		line-height: 150%;
		padding: 0.375rem 0.75rem;
		@media (min-width: $md4) {
			line-height: 144.444%;
			font-size: 1.125rem;
		}
	}
}
