@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

.header {
	position: fixed;
	z-index: 6;
	left: 0;
	right: 0;
	background: rgba(24, 29, 39, 0.86);
	color: #f7f7f7;
	backdrop-filter: blur(rem(13));
	-webkit-backdrop-filter: blur(rem(13));
	padding: 1.125rem 0;
	// .header__main
	&__main {
		display: flex;
		align-items: center;
	}
	// .header__logo
	&__logo {
		display: flex;
		align-items: center;
		gap: 0.75rem;
	}
	// .header__logo-icon
	&__logo-icon {
		max-width: 11.875rem;
	}
	// .header__logo-descriptor
	&__logo-descriptor {
		padding-left: 0.75rem;
		border-left: rem(1) solid rgba($color: #fff, $alpha: 0.2);
		color: #f7f7f7;
		font-size: 0.75rem;
		max-width: 13rem;
		text-align: left;
	}
	// .header__menu
	&__menu {
		flex: 1 1 auto;
	}
	// .header__contacts
	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		text-align: right;
		flex-shrink: 0;
	}
	// .header__contacts-phone
	&__contacts-phone {
		font-family: $font-gilroy;
		font-size: 1.375rem;
		font-weight: 700;
		line-height: 100%;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .header__contacts-email
	&__contacts-email {
		color: #cecfd2;
		font-size: 0.875rem;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #2e90fa;
			}
		}
	}
	// .header__socials
	&__socials {
		margin-left: 2rem;
		padding-right: 1rem;
		border-right: rem(1) solid #61656c;
	}
	// .header__social
	&__social {
	}
	// .header__callback
	&__callback {
		margin-left: 1rem;
		border: rem(1) solid #ff4405;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.625rem;
		font-size: 1.25rem;
		transition: background-color 0.3s ease, color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				background-color: #ff4405;
			}
		}
	}
}

.menu {
	@media (max-width: 1299.98px) {
		position: fixed;
		top: 0;
		right: 0;
		width: rem(340);
		height: 100%;
		z-index: 8;
		transition: transform 0.3s ease, box-shadow 0.3s ease;
		transform: translateX(100%);
		background: url("@img/decor/menu-bg-pattern.svg") 0 0 / cover no-repeat, #181d27;
		border-radius: 1rem 0 0 1rem;
		padding: 1.33rem 2rem;
		overflow-y: auto;
		&.menu--open {
			box-shadow: rem(-16) rem(4) rem(32) 0 rgba(0, 0, 0, 0.28);
			transform: none;
		}
	}
	@media (min-width: 1299.98px) {
		display: flex;
		justify-content: center;
		flex: 1 1 auto;
		gap: rem(125);
	}
	@media (min-width: 1719.98px) {
		gap: rem(250);
	}
	// .menu__header
	&__header {
		display: flex;
		align-items: center;
		gap: 2.31rem;
		margin-bottom: 1.5rem;
		@media (min-width: 1299.98px) {
			display: none;
		}
	}
	// .menu__logo
	&__logo {
		max-width: 2.5rem;
	}
	// .menu__list
	&__list {
		display: flex;
		gap: rem(10);
		flex-direction: column;
		gap: 0.5rem;
		&:not(:last-child) {
			@media (max-width: 1299.98px) {
				margin-bottom: 0.5rem;
			}
		}
		@media (min-width: 1299.98px) {
			flex-direction: row;
		}
		@media (min-width: $md0) {
			gap: rem(18);
		}
	}
	// .menu-item
	&__item {
		position: relative;
		&.menu-item-has-children {
			@media (any-hover: hover) {
				&:hover {
					z-index: 3;
					.menu__link {
						background: #181d27;
					}
					.menu__arrow {
						&::before {
							transform: rotate(180deg);
						}
					}
					.sub-menu {
						opacity: 1;
						visibility: visible;
						transform: none;
					}
				}
			}
			&.active {
				.menu__link {
					background: #181d27;
				}
				.menu__arrow {
					&::before {
						transform: rotate(180deg);
					}
				}
				.sub-menu {
					opacity: 1;
					visibility: visible;
					transform: none;
				}
			}
		}
		&:has(.menu__arrow) {
			.menu__link {
				padding-right: rem(42);
			}
		}
	}
	// .menu__link
	&__link {
		line-height: 144.444%;
		display: inline-flex;
		justify-content: space-between;
		align-items: center;
		border-radius: em(0.5, 1.125);
		padding: em(0.375, 1) em(0.875, 1);
		gap: em(0.5, 1.125);
		transition: background-color 0.3s ease, color 0.3s ease;
		font-size: 1rem;
		border-radius: 0.75rem;
		width: 100%;
		min-height: rem(36);

		@media (any-hover: hover) {
			&:hover {
				background: #181d27;
			}
		}
	}
	// .menu__arrow
	&__arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: rem(14);
		display: flex;
		justify-content: center;
		align-items: center;
		width: 1.25rem;
		height: 1.25rem;
		font-size: 0.4rem;
		color: #a4a7ae;
		&::before {
			transition: transform 0.3s ease;
		}
	}
}

.sub-menu {
	display: none;
	margin-top: 0.5rem;

	@media (min-width: 1299.8px) {
		margin-top: 0;
		position: absolute;
		display: block !important;
		z-index: 2;
		top: 100%;
		left: 0;
		padding-top: 0.25rem;
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0, -0.5rem, 1px);
		transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	}
	// .sub-menu__list
	&__list {
		border-radius: 0.5rem;
		border: rem(1) solid #505050;
		color: #a4a7ae;
		box-shadow: 0 rem(12) 1rem rem(-4) rgba(32, 32, 32, 0.36);
		padding: rem(6);
		background: #252b37;

		@media (min-width: 1299.89px) {
			white-space: nowrap;
			background: #181d27;
			width: fit-content;
		}
	}
	// .submenu__item
	&__item {
	}
	// .submenu__link
	&__link {
		line-height: 133.333%;
		padding: 0.75rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 2.25rem;
		border-radius: 0.375rem;
		transition: background-color 0.3s ease, color 0.3s ease;
		font-size: 1.125rem;
		@media (min-width: 1299.98px) {
			font-size: 1rem;
		}
		@media (min-width: $md0) {
			font-size: 1.125rem;
		}
		&::before {
			order: 1;
			width: 1.25rem;
			height: 1.25rem;
			color: #a4a7ae;
		}
		&.active {
			background: #252b37;
			color: #fff;
		}
		@media (any-hover: hover) {
			&:hover {
				background: #252b37;
				color: #fff;
			}
		}
	}
}

.icon-menu {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	padding: 0.62rem;
	min-width: 2.5rem;
	height: 2.5rem;
	border-radius: 0.5rem;
	background: #ff4405;
	color: #181d27;
	z-index: 11;
	transition: all 0.3s ease;
	@media (min-width: 1299.98px) {
		display: none;
	}
	& span {
		display: block;
		padding: rem(1.5) rem(2);
		align-self: stretch;
		transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
		will-change: transform;
		&::before {
			content: "";
			display: block;
			height: rem(2);
			border-radius: rem(2);
			background: currentColor;
			transition: transform 0.3s ease 0s;
			will-change: transform;
		}
		&:last-child {
			margin-left: auto;
			width: 75%;
		}
	}
	&.active {
		color: #fff;
		background: transparent;
		padding: 0.35rem;
		& span {
			transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
			&::before {
				transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
			}
			&:first-child {
				transform: translateY(rem(5));
				&::before {
					transform: rotate(-135deg);
				}
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(rem(-5));
				width: 100%;
				&::before {
					transform: rotate(-225deg);
				}
			}
		}
	}
}
