%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	speak: never;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

.icon-play:before {
	content: "\e913";
}

.icon-eye:before {
	content: "\e912";
}

.icon-cross:before {
	content: "\e90b";
}

.icon-help-circle:before {
	content: "\e914";
}

.icon-dislike:before {
	content: "\e910";
}

.icon-like:before {
	content: "\e911";
}

.icon-copy:before {
	content: "\e90f";
}

.icon-clock:before {
	content: "\e90c";
}

.icon-calendar:before {
	content: "\e90d";
}

.icon-clip:before {
	content: "\e907";
}

.icon-chevron-right:before {
	content: "\e905";
}

.icon-home:before {
	content: "\e906";
}

.icon-check:before {
	content: "\e90e";
}

.icon-search:before {
	content: "\e90a";
}

.icon-arrow-left:before {
	content: "\e908";
}

.icon-arrow-right:before {
	content: "\e909";
}

.icon-minus:before {
	content: "\e903";
}

.icon-plus:before {
	content: "\e904";
}

.icon-arrow-up-right:before {
	content: "\e902";
}

.icon-chevron-down:before {
	content: "\e900";
}

.icon-phone-incoming:before {
	content: "\e901";
}