@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

@use "ui";
@use "forms";
@use "header";
@use "footer";
@use "common";

@use "pages/home";
@use "pages/article";
@use "pages/error";

// .nojq {
// 	display: none;
// }

// html {
// 	margin-top: 0 !important;
// }

.preloader {
	display: none !important;
}

body {
	&.preloading {
		overflow: visible !important;
	}
}
