@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

//============ МОДУЛИ ====================
@use "modules/popup";
@use "modules/preloader";
@use "modules/product";
@use "modules/cart";
// @import "modules/select";
// @import "modules/pagination";
// @import "modules/phone-input";

//============ МОДУЛИ ====================

.title {
	font-family: $font-comfortaa;
	font-weight: 600;
	line-height: 120%;
	letter-spacing: em(-0.12, 4);
	font-size: 2rem;
	@media (min-width: $md5) {
		font-size: 2.25rem;
	}
	@media (min-width: $md4) {
		font-size: 2.5rem;
	}
	@media (min-width: $md3) {
		font-size: 2.75rem;
	}
	@media (min-width: $md2) {
		font-size: 3rem;
	}
	@media (min-width: $md1) {
		font-size: 3.25rem;
	}
	@media (min-width: $md0) {
		font-size: 3.5rem;
	}
}

.title-lg {
	font-family: $font-comfortaa;
	font-weight: 600;
	line-height: 120%;
	letter-spacing: em(-0.12, 4);
	font-size: 2rem;
	@media (min-width: $md5) {
		font-size: 2.5rem;
	}
	@media (min-width: $md4) {
		font-size: 3rem;
	}
	@media (min-width: $md2) {
		font-size: 3.25rem;
	}
	@media (min-width: $md1) {
		font-size: 3.75rem;
	}
	@media (min-width: $md0) {
		font-size: 4rem;
	}
}

.title-sm {
	font-family: $font-comfortaa;
	font-weight: 600;
	line-height: 120%;
	letter-spacing: em(-0.12, 4);
	font-size: 1.5rem;
	@media (min-width: $md4) {
		font-size: 2rem;
	}
}

.text-center {
	text-align: center;
}

.text-nowrap {
	white-space: nowrap;
}

.color-accent {
	color: $accent;
}

.swiper-button-next,
.swiper-button-prev {
	& .swiper-navigation-icon {
		display: none !important;
	}
	position: relative;
	left: auto !important;
	right: auto !important;
	bottom: auto !important;
	top: auto !important;
	margin: 0 !important;
	transform: none !important;
	transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
	z-index: 2;

	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f3efe7;
	color: #414651;
	width: rem(44);
	height: rem(32);
	@media (min-width: $md4) {
		width: 3.25rem;
		height: 2.75rem;
	}

	&.swiper-button-lock {
		display: none;
	}

	&:disabled,
	&.swiper-button-disabled,
	&[aria-disabled="true"] {
		pointer-events: none;
		opacity: 0.7;
	}

	@media (any-hover: hover) {
		&:hover {
			background: #423931;
			color: #fff;
		}
	}
}

.swiper-button-prev {
	@extend %ic, .icon-arrow-left;
}
.swiper-button-next {
	@extend %ic, .icon-arrow-right;
}

.swiper-pagination {
	&.swiper-pagination-fraction {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		position: static;
		inset: auto;
		margin: 0;
		width: auto;
		color: #717680;
		line-height: 140%;
		font-size: rem(14);
		@media (min-width: $md4) {
			font-size: 1rem;
		}
		.swiper-pagination-current {
			color: var(--swiper-pagination-fraction-color, #000);
			font-weight: 700;
			line-height: 140%;
			margin-right: 0.75rem;
			font-size: 1.5rem;
			@media (min-width: $md4) {
				font-size: 2rem;
			}
		}
	}
	&.swiper-pagination-lock {
		display: none;
	}
	&.swiper-pagination-bullets {
		position: static;
		margin: auto;
		width: auto;

		.swiper-pagination-bullet {
			background: #a4a7ae;
			opacity: 1;
			&.swiper-pagination-bullet-active {
				opacity: 1;
				background: #414651;
			}
		}
	}
}

.swiper-lazy-preloader {
	--swiper-preloader-color: #{$accent};
}

.favorite-btn {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	color: #717680;
	font-size: 1.125rem;
	cursor: pointer;
	user-select: none;
	&::before {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 1.5rem;
		height: 1.5rem;
		flex-shrink: 0;
		font-size: 1.5rem;
		transition: all 0.3s ease 0s;
		color: #414651;
		order: 1;
		@extend %ic, .icon-heart;
	}
	&.active {
		&::before {
			color: #f04438;
			animation: pulse 0.3s ease-in-out;
			@keyframes pulse {
				0% {
					transform: scale(1);
				}
				50% {
					transform: scale(1.4);
				}
				100% {
					transform: scale(1);
				}
			}
			@extend %ic, .icon-heart-fill;
		}
	}
	& span {
		display: none;
		@media (min-width: $md4) {
			display: inline;
		}
	}
}

%active-state-cart-button {
	background: #47cd89;
	border-color: #47cd89;
	box-shadow: none;
	@media (any-hover: hover) {
		&:hover {
			border-color: color.adjust($color: #47cd89, $lightness: -10%);
			background: color.adjust($color: #47cd89, $lightness: -10%);
		}
	}
}

.toggle-to-cart-button {
	width: rem(46);
	height: rem(42);
	&.btn {
		padding: rem(12);
	}
	&::before {
		font-size: 1.125rem;
		@extend %ic;
		@extend .icon-shopping-cart;
	}
	&.active {
		@extend %active-state-cart-button;
		&.btn.btn-primary {
			@extend %active-state-cart-button;
		}
		&::before {
			@extend .icon-check;
		}
	}
}

.socials {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	// .socials__link
	&__link {
		width: 2rem;
		height: 2rem;
		font-size: 1.25rem;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 1;
		overflow: hidden;
		background: #4e443d;
		border-radius: 50%;
		color: #fff;
		transition: background-color 0.3s ease;
		&.icon-telegram {
			@media (any-hover: hover) {
				&:hover {
					background-color: #00b0f2;
				}
			}
		}
		&.icon-whatsapp {
			@media (any-hover: hover) {
				&:hover {
					background-color: #00e510;
				}
			}
		}
		&.icon-youtube {
			@media (any-hover: hover) {
				&:hover {
					background-color: #ff0000;
				}
			}
		}
		&.icon-rutube {
			border-radius: 0.4rem;
			&::after {
				content: "";
				position: absolute;
				bottom: 1rem;
				left: 1rem;
				width: 2rem;
				height: 2rem;
				border-radius: 50%;
				background: #909193;
				transition: background-color 0.3s ease;
				z-index: -1;
			}
			@media (any-hover: hover) {
				&:hover {
					background-color: #13141c;
					&::after {
						background-color: #ec0f37;
					}
				}
			}
		}
		&.icon-vk {
			@media (any-hover: hover) {
				&:hover {
					background-color: #2688eb;
				}
			}
		}
		&.icon-max {
			&::after {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				border-radius: 50%;
				width: 100%;
				height: 100%;
				z-index: -1;
				opacity: 0;
				transition: opacity 0.3s ease;
				background: linear-gradient(232deg, rgba(255, 255, 255, 0) 44.54%, rgba(86, 224, 255, 0.8) 102.82%),
					linear-gradient(228deg, rgba(255, 255, 255, 0) 62.33%, #36daff 102.83%),
					linear-gradient(286deg, #9d44db -4.79%, #6327e6 39.02%, #3344f8 72.85%, #4c6afe 113.09%);
				background-blend-mode: overlay, overlay, normal;
			}
			@media (any-hover: hover) {
				&:hover {
					&::after {
						opacity: 1;
					}
				}
			}
		}
	}
}

.quantity-block {
	display: flex;
	align-items: center;
	gap: 0.25rem;
	background: #fff;
	border-radius: 0.75rem;
	flex-shrink: 0;
	border: rem(1) solid #a4a7ae;
	padding: rem(2) 0.25rem;
	width: rem(124);
	@media (min-width: $md4) {
		width: rem(136);
		border: rem(1) solid #e9eaeb;
		padding: 0.4375rem 0.375rem;
	}
	&__up,
	&__down {
		width: rem(42);
		height: rem(34);
		display: flex;
		justify-content: center;
		align-items: center;
		color: #939393;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .quantity-block__down
	&__down {
	}
	// .quantity-block__up
	&__up {
	}
	// .quantity-block__input
	&__input {
		text-align: center;
		width: rem(42);
		color: #181d27;
		font-size: 1.25rem;
	}
}

.cart-quantity {
	position: absolute;
	top: 5px;
	right: 5px;
	min-width: 0.75rem;
	height: 0.75rem;
	border-radius: 50%;
	background: #ff9c66;
	color: #181d27;
	padding: 0.125rem 0.25rem;
	text-align: center;
	line-height: 133.333%;
	font-size: 0.5rem;
	animation: scale-in 0.3s ease-in-out forwards;
	@media (min-width: $md2) {
		font-size: 0.75rem;
		top: rem(10);
		right: rem(17);
		min-width: 1.25rem;
		height: 1.25rem;
	}
	@keyframes scale-in {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(1);
		}
	}
}

.price-block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	// .price-block__header
	&__header {
		display: flex;
		align-items: center;
		gap: 0.38rem;
		font-size: 0.875rem;
	}
	// .price-block__old
	&__old {
		color: #717680;
		text-decoration-line: line-through;
	}
	// .price-block__sale
	&__sale {
		color: #d92d20;
	}
	// .price-block__current
	&__current {
		color: #181d27;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 1.1;
	}
}

._loading {
	color: transparent !important;
	pointer-events: none;
	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: rem(20);
		height: rem(20);
		border: rem(3) solid $text;
		border-bottom-color: transparent;
		border-radius: 50%;
		transform-origin: center;
		animation: rotation 1s linear infinite;
		z-index: 3;
	}
}

@keyframes rotation {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.tooltip {
	position: absolute;
	border-radius: 0.3125rem;
	color: #fff;
	background: #504841;
	padding: 0.625rem;
	z-index: 100000000;
	font-size: 0.8125rem;
	max-width: rem(200);
	pointer-events: none;
	user-select: none;
	text-align: center;

	&.open-top {
		&::after {
			border-top: rem(5) solid #504841;
			bottom: rem(-4);
		}
	}
	&.open-bottom {
		&::after {
			border-bottom: rem(5) solid #504841;
			top: rem(-4);
		}
	}
	&.success {
		background: #47cd89;
		color: #47cd89;
		color: #000;
		text-align: left;
		max-width: rem(247);
		&.open-top {
			&::after {
				border-top: rem(5) solid #47cd89;
			}
		}
		&.open-bottom {
			&::after {
				border-bottom: rem(5) solid #47cd89;
			}
		}
	}
	&::after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-left: rem(5) solid transparent;
		border-right: rem(5) solid transparent;
		right: rem(20);
	}
}

.nav-slider {
	border-radius: 0.75rem;
	padding: 0.25rem;
	background: #000;
	color: #d5d7da;
	width: fit-content;
	margin: 0 auto;
	max-width: 100%;
	// .nav-slider__item
	&__item {
		flex-shrink: 0;
		width: fit-content;
	}
	// .nav-slider__link
	&__link {
		font-size: 1.125rem;
		line-height: 144.444%;
		padding: 0.375rem 0.75rem;
		display: inline-block;
		transition: color 0.3s ease;
		border-radius: 0.5rem;

		@media (any-hover: hover) {
			&:hover {
				color: #fff;
			}
		}
		&.active {
			background: #ff7dbc;
			color: #181d27;
		}
	}
}

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// Стилизация селекта
// $selectBg: $orange;
// $selectColor: $dark;

// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }
// ::selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	-webkit-box-shadow: none;
// 	box-shadow: none;
// }
// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }

// Стилизация скролла

$scrollbarColor: $accent;
$scrollbarHover: color.adjust($accent, $lightness: -10%);

::-webkit-scrollbar {
	width: rem(8);
}
::-webkit-scrollbar-track {
	background: #fff;
}
::-webkit-scrollbar-thumb {
	background: $scrollbarColor;
	border-radius: rem(8);
	@media (any-hover: hover) {
		&:hover {
			background: $scrollbarHover;
		}
	}
}

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.cover-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
