@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

//============ МОДУЛИ ====================
@use "modules/popup";
@use "modules/preloader";
@use "modules/breadcrumbs";
@use "modules/tooltip";
@use "modules/marguee";
@use "modules/pagination";
//============ МОДУЛИ ====================

.title-lg {
	font-family: $font-gilroy;
	font-weight: 700;
	line-height: 100%;
	font-size: 2.25rem;
	@media (min-width: $md4) {
		font-size: 2.5rem;
	}
	@media (min-width: $md3) {
		font-size: 2.75rem;
	}
	@media (min-width: $md2) {
		font-size: 3rem;
	}
	@media (min-width: $md1) {
		font-size: 4rem;
	}
}

.title {
	font-family: $font-gilroy;
	font-weight: 700;
	line-height: 100%;
	font-size: 1.75rem;
	@media (min-width: $md5) {
		font-size: 2.25rem;
	}
	@media (min-width: $md2) {
		font-size: 2.75rem;
	}
	@media (min-width: $md1) {
		font-size: 3rem;
	}
	@media (min-width: $md0) {
		font-size: 3.5rem;
	}
}

.title-md {
	font-family: $font-gilroy;
	font-weight: 700;
	line-height: 100%;
	font-size: 2.25rem;
	@media (min-width: $md4) {
		font-size: 2.5rem;
	}
	@media (min-width: $md3) {
		font-size: 2.75rem;
	}
	@media (min-width: $md2) {
		font-size: 3rem;
	}
}

.title-sm {
	font-family: $font-gilroy;
	font-weight: 700;
	line-height: 100%;
	font-size: 1.5rem;
	@media (min-width: $md4) {
		font-size: 2rem;
	}
}

.title-xs {
	font-family: $font-gilroy;
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 114.286%;
	letter-spacing: -0.0525rem;
}

.hint {
	color: #717680;
	text-align: center;
	font-family: $font-gilroy;
	font-weight: 700;
	letter-spacing: -0.0375rem;
	text-transform: uppercase;
	display: inline-flex;
	align-items: center;
	gap: 0.38rem;
	font-size: rem(14);
	@media (min-width: $md4) {
		font-size: 1rem;
	}
	@media (min-width: $md3) {
		font-size: 1.125rem;
	}
	@media (min-width: $md2) {
		font-size: 1.25rem;
	}
	&::before {
		content: "";
		width: em(1.1875, 1.25);
		height: em(1.1875, 1.25);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='19' viewBox='0 0 17 19' fill='none'%3E%3Cpath d='M7.22723 0.26778C7.84604 -0.0894857 8.60843 -0.0894856 9.22723 0.26778L15.4545 3.86308C16.0733 4.22035 16.4545 4.8806 16.4545 5.59513V12.7857C16.4545 13.5003 16.0733 14.1605 15.4545 14.5178L9.22723 18.1131C8.60843 18.4703 7.84604 18.4703 7.22723 18.1131L0.999992 14.5178C0.38119 14.1605 -7.62939e-06 13.5003 -7.62939e-06 12.7857V5.59513C-7.62939e-06 4.8806 0.38119 4.22035 0.999992 3.86308L7.22723 0.26778Z' fill='%23FF4405'/%3E%3C/svg%3E");
	}
}

.subtitle {
	line-height: 130%;
	letter-spacing: -0.0125rem;
	font-size: 1rem;
	@media (min-width: $md5) {
		font-size: 1.125rem;
	}
	@media (min-width: $md3) {
		font-size: 1.25rem;
	}
}

.text-center {
	text-align: center;
}

.text-nowrap {
	white-space: nowrap;
}

.color-accent {
	color: $accent;
}

.color-grey {
	color: #717680;
}

.swiper-button-next,
.swiper-button-prev {
	& .swiper-navigation-icon {
		display: none !important;
	}
	position: relative;
	left: auto !important;
	right: auto !important;
	bottom: auto !important;
	top: auto !important;
	margin: 0 !important;
	transform: none !important;
	transition:
		background-color 0.3s ease 0s,
		color 0.3s ease 0s;
	z-index: 2;

	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #d5d7da;
	color: #181d27;
	width: 3rem;
	height: 3rem;
	font-size: 1.5rem;

	&.swiper-button-lock {
		display: none;
	}

	&:disabled,
	&.swiper-button-disabled,
	&[aria-disabled="true"] {
		pointer-events: none;
		opacity: 0.7;
	}

	@media (any-hover: hover) {
		&:hover {
			background: #ff4405;
			color: #fff;
		}
	}
}

.swiper-button-prev {
	@extend %ic, .icon-arrow-left;
}
.swiper-button-next {
	@extend %ic, .icon-arrow-right;
}

.swiper-pagination {
	&.swiper-pagination-fraction {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		position: static;
		inset: auto;
		margin: 0;
		width: auto;
		color: #414651;
		line-height: 140%;
		font-size: 1rem;
		.swiper-pagination-current {
			color: var(--swiper-pagination-fraction-color, #000);
			font-weight: 700;
			line-height: 140%;
			margin-right: 0.25rem;
			font-size: 2rem;
		}
	}
	&.swiper-pagination-lock {
		display: none;
	}
	&.swiper-pagination-bullets {
		position: static;
		margin: auto;
		width: auto;
		--swiper-pagination-bullet-horizontal-gap: #{rem(6)};
		.swiper-pagination-bullet {
			background: #fff;
			opacity: 1;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 1.5rem;
				height: 1.5rem;
			}
			&.swiper-pagination-bullet-active {
				opacity: 1;
				background: $accent;
			}
		}
	}
}

.swiper-lazy-preloader {
	--swiper-preloader-color: #{$accent};
}

.socials {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	// .socials__item
	&__item {
		--hover-bg: #{$accent};
		width: 2rem;
		height: 2rem;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 1;
		overflow: hidden;
		background: #61656c;
		border-radius: 50%;
		transition: background-color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--hover-bg);
			}
		}
	}
}

.mobile-hidden {
	@media (max-width: $md5) {
		display: none !important;
	}
}

._loading {
	color: transparent !important;
	pointer-events: none;
	transition: none;
	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: rem(20);
		height: rem(20);
		border: rem(3) solid var(--btn-text-color, #000);
		border-bottom-color: transparent;
		border-radius: 50%;
		transform-origin: center;
		animation: rotation 1s linear infinite;
		z-index: 3;
	}
}

@keyframes rotation {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// Стилизация селекта
// $selectBg: $orange;
// $selectColor: $dark;

// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }
// ::selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	-webkit-box-shadow: none;
// 	box-shadow: none;
// }
// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }

// Стилизация скролла

$scrollbarColor: $accent;
$scrollbarHover: color.adjust($accent, $lightness: -10%);

::-webkit-scrollbar {
	width: rem(8);
}
::-webkit-scrollbar-track {
	background: #fff;
}
::-webkit-scrollbar-thumb {
	background: $scrollbarColor;
	border-radius: rem(8);
	@media (any-hover: hover) {
		&:hover {
			background: $scrollbarHover;
		}
	}
}

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.cover-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
